In [1]:
from pyspark import SparkContext, SparkConf
import pandas as pd

In [2]:
import pandas as pd
p_df = pd.DataFrame([("foo", 1), ("bar", 2), ("foo", 3)], columns=("k", "v"))
p_df['k'].unique()

array(['foo', 'bar'], dtype=object)

# Getting Started

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

### how to create a Dataframe in pyspark

In [4]:
s_df = spark.createDataFrame([("foo", 1), ("bar", 2), ("foo", 3)], ('k', 'v'))

### Read csv (as a dataframe) and show it

In [5]:
df = spark.read.csv("Dati/doc1-2015100810.csv", header = True)

In [6]:
df.show()

+--------+----------------+----------+------------+--------------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|      DATAUTILIZACAO|
+--------+----------------+----------+------------+--------------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|07/10/15 07:37:02...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|07/10/15 07:51:25...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:49...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:51...|
|     000|    OPER S/LINHA|     08047|  0000771305|07/10/15 16:47:16...|
|     000|    OPER S/LINHA|     08047|  0000856665|07/10/15 16:50:18...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|07/10/15 13:18:26...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|07/10/15 14:18:59...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:40:56...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:41:05...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|07/10/15 16:48:12...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|07/10/15 18:13:05...|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|07/10/15 17:07:31...|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|07/10/15 17:46:36...|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|07/10/15 17:53:46...|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|07/10/15 21:27:45...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:55...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:58...|
|     653|          SABARÁ|     HA293|  0003410298|07/10/15 16:15:46...|
|     653|          SABARÁ|     HA293|  0002471107|07/10/15 18:44:03...|
+--------+----------------+----------+------------+--------------------+
only showing top 20 rows

In [7]:
# spark, df are from the previous example
# Print the schema in a tree format
df.printSchema()

root
 |-- CODLINHA: string (nullable = true)
 |-- NOMELINHA: string (nullable = true)
 |-- CODVEICULO: string (nullable = true)
 |-- NUMEROCARTAO: string (nullable = true)
 |-- DATAUTILIZACAO: string (nullable = true)

In [8]:
# Select only the "codlinha" column
df.select("codlinha").show()

+--------+
|codlinha|
+--------+
|     280|
|     280|
|     280|
|     280|
|     000|
|     000|
|     629|
|     629|
|     629|
|     629|
|     629|
|     629|
|     814|
|     814|
|     814|
|     814|
|     629|
|     629|
|     653|
|     653|
+--------+
only showing top 20 rows

In [9]:
df.select(df['codlinha'], df['nomelinha']).show()

+--------+----------------+
|codlinha|       nomelinha|
+--------+----------------+
|     280|N. SRA.DE NAZARÉ|
|     280|N. SRA.DE NAZARÉ|
|     280|N. SRA.DE NAZARÉ|
|     280|N. SRA.DE NAZARÉ|
|     000|    OPER S/LINHA|
|     000|    OPER S/LINHA|
|     629|  ALTO BOQUEIRÃO|
|     629|  ALTO BOQUEIRÃO|
|     629|  ALTO BOQUEIRÃO|
|     629|  ALTO BOQUEIRÃO|
|     629|  ALTO BOQUEIRÃO|
|     629|  ALTO BOQUEIRÃO|
|     814|       MOSSUNGUÊ|
|     814|       MOSSUNGUÊ|
|     814|       MOSSUNGUÊ|
|     814|       MOSSUNGUÊ|
|     629|  ALTO BOQUEIRÃO|
|     629|  ALTO BOQUEIRÃO|
|     653|          SABARÁ|
|     653|          SABARÁ|
+--------+----------------+
only showing top 20 rows

In [10]:
df.filter(df['codlinha'] == "280").show()

+--------+----------------+----------+------------+--------------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|      DATAUTILIZACAO|
+--------+----------------+----------+------------+--------------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|07/10/15 07:37:02...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|07/10/15 07:51:25...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:49...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:51...|
|     280|N. SRA.DE NAZARÉ|     BC947|  0001426341|07/10/15 17:55:07...|
|     280|N. SRA.DE NAZARÉ|     BN602|  0001282115|07/10/15 06:29:09...|
|     280|N. SRA.DE NAZARÉ|     BN602|  0002883432|07/10/15 15:19:38...|
|     280|N. SRA.DE NAZARÉ|     BN602|  0002883432|07/10/15 15:19:43...|
|     280|N. SRA.DE NAZARÉ|     BN602|  0003530435|07/10/15 19:22:40...|
|     280|N. SRA.DE NAZARÉ|     BN602|  0002025345|07/10/15 22:58:12...|
|     280|N. SRA.DE NAZARÉ|     BN602|  0003253117|07/10/15 16:44:16...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003271986|07/10/15 11:57:16...|
|     280|N. SRA.DE NAZARÉ|     BC947|  0003268390|07/10/15 18:12:45...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0000312500|07/10/15 08:49:40...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0001627536|07/10/15 12:28:08...|
|     280|N. SRA.DE NAZARÉ|     BN602|  0002270052|07/10/15 11:55:10...|
|     280|N. SRA.DE NAZARÉ|     BC947|  0003006362|07/10/15 18:12:58...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0001135579|07/10/15 12:32:46...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002239405|07/10/15 07:43:42...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003387236|07/10/15 07:42:42...|
+--------+----------------+----------+------------+--------------------+
only showing top 20 rows

In [11]:
df.groupBy("codlinha").count().show()

+--------+-----+
|codlinha|count|
+--------+-----+
|     467|  608|
|     829| 1098|
|     870| 2228|
|     666|  664|
|     TXA|  711|
|     475| 1390|
|     718|  398|
|     030| 4757|
|     205| 1711|
|     169| 1071|
|     334|  374|
|     TSP|  904|
|     462| 1935|
|     711|  769|
|     272|  864|
|     470|  477|
|     232|  805|
|     635|  365|
|     714|  344|
|     ARA| 8965|
+--------+-----+
only showing top 20 rows

### Running SQL Queries Programmatically

In [22]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+--------+----------------+----------+------------+--------------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|      DATAUTILIZACAO|
+--------+----------------+----------+------------+--------------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|07/10/15 07:37:02...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|07/10/15 07:51:25...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:49...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:51...|
|     000|    OPER S/LINHA|     08047|  0000771305|07/10/15 16:47:16...|
|     000|    OPER S/LINHA|     08047|  0000856665|07/10/15 16:50:18...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|07/10/15 13:18:26...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|07/10/15 14:18:59...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:40:56...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:41:05...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|07/10/15 16:48:12...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|07/10/15 18:13:05...|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|07/10/15 17:07:31...|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|07/10/15 17:46:36...|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|07/10/15 17:53:46...|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|07/10/15 21:27:45...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:55...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:58...|
|     653|          SABARÁ|     HA293|  0003410298|07/10/15 16:15:46...|
|     653|          SABARÁ|     HA293|  0002471107|07/10/15 18:44:03...|
+--------+----------------+----------+------------+--------------------+
only showing top 20 rows

## SQL Timestamp

In [24]:
from pyspark.sql.functions import col, unix_timestamp, to_date, to_timestamp

df_timestamp = df.withColumn('datautilizacao', to_timestamp(unix_timestamp(col('datautilizacao'), 'dd/MM/yy HH:mm:ss').cast("timestamp")))

df_timestamp.show()

df_timestamp.createOrReplaceTempView("people_timestamp")

sqlDF = spark.sql("SELECT * FROM people_timestamp WHERE datautilizacao == '2015-10-07 16:47:16'")
sqlDF.show()

+--------+----------------+----------+------------+-------------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|     datautilizacao|
+--------+----------------+----------+------------+-------------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|2015-10-07 07:37:02|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|2015-10-07 07:51:25|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|2015-10-07 18:49:49|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|2015-10-07 18:49:51|
|     000|    OPER S/LINHA|     08047|  0000771305|2015-10-07 16:47:16|
|     000|    OPER S/LINHA|     08047|  0000856665|2015-10-07 16:50:18|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|2015-10-07 13:18:26|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|2015-10-07 14:18:59|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|2015-10-07 14:40:56|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|2015-10-07 14:41:05|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|2015-10-07 16:48:12|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|2015-10-07 18:13:05|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|2015-10-07 17:07:31|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|2015-10-07 17:46:36|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|2015-10-07 17:53:46|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|2015-10-07 21:27:45|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|2015-10-07 19:25:55|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|2015-10-07 19:25:58|
|     653|          SABARÁ|     HA293|  0003410298|2015-10-07 16:15:46|
|     653|          SABARÁ|     HA293|  0002471107|2015-10-07 18:44:03|
+--------+----------------+----------+------------+-------------------+
only showing top 20 rows

+--------+----------------+----------+------------+-------------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|     datautilizacao|
+--------+----------------+----------+------------+-------------------+
|     000|    OPER S/LINHA|     08047|  0000771305|2015-10-07 16:47:16|
|     270|FERNANDO NORONHA|     BN605|  0003525169|2015-10-07 16:47:16|
|     619| STA. RITA / CIC|     HA600|  0000983434|2015-10-07 16:47:16|
|     OPC| OP. CONTIGENCIA|     MN402|  0003249566|2015-10-07 16:47:16|
|     000|    OPER S/LINHA|     07020|  0001627997|2015-10-07 16:47:16|
|     000|    OPER S/LINHA|     09029|  0002427443|2015-10-07 16:47:16|
+--------+----------------+----------+------------+-------------------+

### Global Temporary View

Temporary views in Spark SQL are session-scoped and will disappear if the session that creates it terminates. If you want to have a temporary view that is shared among all sessions and keep alive until the Spark application terminates, you can create a global temporary view. Global temporary view is tied to a system preserved database global_temp, and we must use the qualified name to refer it, e.g. SELECT * FROM global_temp.view1.

In [14]:
# Register the DataFrame as a global temporary view
df.createGlobalTempView("people")

# Global temporary view is tied to a system preserved database `global_temp`
spark.sql("SELECT * FROM global_temp.people").show()

+--------+----------------+----------+------------+--------------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|      DATAUTILIZACAO|
+--------+----------------+----------+------------+--------------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|07/10/15 07:37:02...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|07/10/15 07:51:25...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:49...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:51...|
|     000|    OPER S/LINHA|     08047|  0000771305|07/10/15 16:47:16...|
|     000|    OPER S/LINHA|     08047|  0000856665|07/10/15 16:50:18...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|07/10/15 13:18:26...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|07/10/15 14:18:59...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:40:56...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:41:05...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|07/10/15 16:48:12...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|07/10/15 18:13:05...|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|07/10/15 17:07:31...|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|07/10/15 17:46:36...|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|07/10/15 17:53:46...|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|07/10/15 21:27:45...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:55...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:58...|
|     653|          SABARÁ|     HA293|  0003410298|07/10/15 16:15:46...|
|     653|          SABARÁ|     HA293|  0002471107|07/10/15 18:44:03...|
+--------+----------------+----------+------------+--------------------+
only showing top 20 rows

In [15]:
# Global temporary view is cross-session
spark.newSession().sql("SELECT * FROM global_temp.people").show()

+--------+----------------+----------+------------+--------------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|      DATAUTILIZACAO|
+--------+----------------+----------+------------+--------------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|07/10/15 07:37:02...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|07/10/15 07:51:25...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:49...|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:51...|
|     000|    OPER S/LINHA|     08047|  0000771305|07/10/15 16:47:16...|
|     000|    OPER S/LINHA|     08047|  0000856665|07/10/15 16:50:18...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|07/10/15 13:18:26...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|07/10/15 14:18:59...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:40:56...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|07/10/15 14:41:05...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|07/10/15 16:48:12...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|07/10/15 18:13:05...|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|07/10/15 17:07:31...|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|07/10/15 17:46:36...|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|07/10/15 17:53:46...|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|07/10/15 21:27:45...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:55...|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|07/10/15 19:25:58...|
|     653|          SABARÁ|     HA293|  0003410298|07/10/15 16:15:46...|
|     653|          SABARÁ|     HA293|  0002471107|07/10/15 18:44:03...|
+--------+----------------+----------+------------+--------------------+
only showing top 20 rows

## Interoperating with RDDs
Spark SQL supports two different methods for converting existing RDDs into Datasets. The first method uses reflection to infer the schema of an RDD that contains specific types of objects. This reflection based approach leads to more concise code and works well when you already know the schema while writing your Spark application.

The second method for creating Datasets is through a programmatic interface that allows you to construct a schema and then apply it to an existing RDD. While this method is more verbose, it allows you to construct Datasets when the columns and their types are not known until runtime.

### Inferring the Schema Using Reflection (DOESN'T WORK AND I DON'T KNOW WHY, BUT THIS IS NOT IMPORTANT)

from pyspark.sql import Row

sc = spark.sparkContext

# Load a text file and convert each line to a Row.
lines = sc.textFile("Dati/ciao.txt")
parts = lines.map(lambda l: l.split(","))
people2 = parts.map(lambda p: Row(codlinha=p[0], nomelinha=p[1], codveiculo=p[2], numerocartao=int(p[3]), datautilizacao=p[4], orautilizacao=p[5]))

# Infer the schema, and register the DataFrame as a table.
schemaPeople = spark.createDataFrame(people2)
schemaPeople.createOrReplaceTempView("people2")

# SQL can be run over DataFrames that have been registered as a table.
person = spark.sql("SELECT codlinha FROM people2 WHERE numerocartao == 0001430250")

person.show()

# The results of SQL queries are Dataframe objects.
# rdd returns the content as an :class:`pyspark.RDD` of :class:`Row`.
#codice = person.rdd.map(lambda p: "Name: " + p.codlinha).collect()
#for codlinha in codice:
#    print(codlinha)

## TEST WITH THE LAST DATETIME COLUMN DIVIDED

I divided the last column in two (one for date and other for time)

In [16]:
df_test = spark.read.csv("Dati/ciao.csv", header = True)
df_test.show()
df_test.printSchema()

+--------+----------------+----------+------------+--------------+-------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|DATAUTILIZACAO|ORAUTILIZACAO|
+--------+----------------+----------+------------+--------------+-------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|      07/10/15|     07:37:02|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|      07/10/15|     07:51:25|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|      07/10/15|     18:49:49|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|      07/10/15|     18:49:51|
|     000|    OPER S/LINHA|     08047|  0000771305|      07/10/15|     16:47:16|
|     000|    OPER S/LINHA|     08047|  0000856665|      07/10/15|     16:50:18|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|      07/10/15|     13:18:26|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|      07/10/15|     14:18:59|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|      07/10/15|     14:40:56|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|      07/10/15|     14:41:05|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|      07/10/15|     16:48:12|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|      07/10/15|     18:13:05|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|      07/10/15|     17:07:31|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|      07/10/15|     17:46:36|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|      07/10/15|     17:53:46|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|      07/10/15|     21:27:45|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|      07/10/15|     19:25:55|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|      07/10/15|     19:25:58|
|     653|          SABARÁ|     HA293|  0003410298|      07/10/15|     16:15:46|
|     653|          SABARÁ|     HA293|  0002471107|      07/10/15|     18:44:03|
+--------+----------------+----------+------------+--------------+-------------+
only showing top 20 rows

root
 |-- CODLINHA: string (nullable = true)
 |-- NOMELINHA: string (nullable = true)
 |-- CODVEICULO: string (nullable = true)
 |-- NUMEROCARTAO: string (nullable = true)
 |-- DATAUTILIZACAO: string (nullable = true)
 |-- ORAUTILIZACAO: string (nullable = true)

## Convert column String to Datetime into the Dataframe

In [17]:


df_datetime = df_test.withColumn('datautilizacao', to_date(unix_timestamp(col('datautilizacao'), 'dd/MM/yy').cast("timestamp")))

df_datetime.show()
df_datetime.printSchema()

+--------+----------------+----------+------------+--------------+-------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|datautilizacao|ORAUTILIZACAO|
+--------+----------------+----------+------------+--------------+-------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|    2015-10-07|     07:37:02|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|    2015-10-07|     07:51:25|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|    2015-10-07|     18:49:49|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|    2015-10-07|     18:49:51|
|     000|    OPER S/LINHA|     08047|  0000771305|    2015-10-07|     16:47:16|
|     000|    OPER S/LINHA|     08047|  0000856665|    2015-10-07|     16:50:18|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|    2015-10-07|     13:18:26|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|    2015-10-07|     14:18:59|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|    2015-10-07|     14:40:56|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|    2015-10-07|     14:41:05|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|    2015-10-07|     16:48:12|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|    2015-10-07|     18:13:05|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|    2015-10-07|     17:07:31|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|    2015-10-07|     17:46:36|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|    2015-10-07|     17:53:46|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|    2015-10-07|     21:27:45|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|    2015-10-07|     19:25:55|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|    2015-10-07|     19:25:58|
|     653|          SABARÁ|     HA293|  0003410298|    2015-10-07|     16:15:46|
|     653|          SABARÁ|     HA293|  0002471107|    2015-10-07|     18:44:03|
+--------+----------------+----------+------------+--------------+-------------+
only showing top 20 rows

root
 |-- CODLINHA: string (nullable = true)
 |-- NOMELINHA: string (nullable = true)
 |-- CODVEICULO: string (nullable = true)
 |-- NUMEROCARTAO: string (nullable = true)
 |-- datautilizacao: date (nullable = true)
 |-- ORAUTILIZACAO: string (nullable = true)

## Convert String to Datetime (but the result is another column)

In [18]:
from pyspark.sql.types import *

#df_test = df_test.withColumn("datautilizacao", df_test["datautilizacao"].cast(StringType()))

from pyspark.sql.functions import to_date

df_test3 = df_test.select(to_date('datautilizacao', 'dd/MM/yy').alias('datautilizacao'))
#df_test.select(to_date(df_test.datautilizacao, 'dd/MM/yy').alias('datautilizacao'))

df_test3.show()
df_test3.printSchema()

+--------------+
|datautilizacao|
+--------------+
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
|    2015-10-07|
+--------------+
only showing top 20 rows

root
 |-- datautilizacao: date (nullable = true)

## SQL with Datatime

In [19]:
df_datetime.createOrReplaceTempView("people_test")

sqlDF = spark.sql("SELECT codlinha FROM people_test WHERE datautilizacao == '2015-10-07'")
sqlDF.show()

df_datetime.show()

+--------+
|codlinha|
+--------+
|     280|
|     280|
|     280|
|     280|
|     000|
|     000|
|     629|
|     629|
|     629|
|     629|
|     629|
|     629|
|     814|
|     814|
|     814|
|     814|
|     629|
|     629|
|     653|
|     653|
+--------+
only showing top 20 rows

+--------+----------------+----------+------------+--------------+-------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|datautilizacao|ORAUTILIZACAO|
+--------+----------------+----------+------------+--------------+-------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|    2015-10-07|     07:37:02|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|    2015-10-07|     07:51:25|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|    2015-10-07|     18:49:49|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|    2015-10-07|     18:49:51|
|     000|    OPER S/LINHA|     08047|  0000771305|    2015-10-07|     16:47:16|
|     000|    OPER S/LINHA|     08047|  0000856665|    2015-10-07|     16:50:18|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002115218|    2015-10-07|     13:18:26|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002178679|    2015-10-07|     14:18:59|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|    2015-10-07|     14:40:56|
|     629|  ALTO BOQUEIRÃO|     KA603|  0000849493|    2015-10-07|     14:41:05|
|     629|  ALTO BOQUEIRÃO|     KA603|  0002202962|    2015-10-07|     16:48:12|
|     629|  ALTO BOQUEIRÃO|     KA603|  0001839942|    2015-10-07|     18:13:05|
|     814|       MOSSUNGUÊ|     LN404|  0003527951|    2015-10-07|     17:07:31|
|     814|       MOSSUNGUÊ|     LN404|  0001188263|    2015-10-07|     17:46:36|
|     814|       MOSSUNGUÊ|     LN404|  0003260485|    2015-10-07|     17:53:46|
|     814|       MOSSUNGUÊ|     LN404|  0002970828|    2015-10-07|     21:27:45|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|    2015-10-07|     19:25:55|
|     629|  ALTO BOQUEIRÃO|     KA603|  0003528264|    2015-10-07|     19:25:58|
|     653|          SABARÁ|     HA293|  0003410298|    2015-10-07|     16:15:46|
|     653|          SABARÁ|     HA293|  0002471107|    2015-10-07|     18:44:03|
+--------+----------------+----------+------------+--------------+-------------+
only showing top 20 rows