In [1]:
import pandas as pd

df_pandas = pd.read_csv("doc1-2015100810.csv")
df_pandas.head(5)

  CODLINHA         NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0      280  N. SRA.DE NAZARÉ      BC911       1430250  07/10/15 07:37:02
1      280  N. SRA.DE NAZARÉ      BC911       2470195  07/10/15 07:51:25
2      280  N. SRA.DE NAZARÉ      BC911       3234514  07/10/15 18:49:49
3      280  N. SRA.DE NAZARÉ      BC911       3234514  07/10/15 18:49:51
4      000      OPER S/LINHA      08047        771305  07/10/15 16:47:16

## Create List Linha

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df_spark = spark.read.csv("doc1-2015100810.csv", header = True)
df_spark.show(5)

+--------+----------------+----------+------------+-----------------+
|CODLINHA|       NOMELINHA|CODVEICULO|NUMEROCARTAO|   DATAUTILIZACAO|
+--------+----------------+----------+------------+-----------------+
|     280|N. SRA.DE NAZARÉ|     BC911|  0001430250|07/10/15 07:37:02|
|     280|N. SRA.DE NAZARÉ|     BC911|  0002470195|07/10/15 07:51:25|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:49|
|     280|N. SRA.DE NAZARÉ|     BC911|  0003234514|07/10/15 18:49:51|
|     000|    OPER S/LINHA|     08047|  0000771305|07/10/15 16:47:16|
+--------+----------------+----------+------------+-----------------+
only showing top 5 rows

In [4]:
df_distinct = df_spark.dropDuplicates(['CODLINHA', 'NOMELINHA'])
list_linha = df_distinct.select(df_distinct["CODLINHA"], df_distinct["NOMELINHA"])
list_linha.toPandas().to_csv('../csv-aggiuntivi/doc1-2015100810/list_linha.csv', index=False)
list_linha.show(5)

+--------+----------------+
|CODLINHA|       NOMELINHA|
+--------+----------------+
|     180|AVERDE/ABRANCHES|
|     271|     LARANJEIRAS|
|     673|         FORMOSA|
|     331|        MERCÚRIO|
|     650|S.RITA/PINHEIRIN|
+--------+----------------+
only showing top 5 rows

In [5]:
list_linha.count()

257

## Create List Vehicle

In [6]:
df_distinct = df_spark.dropDuplicates(["CODVEICULO"])
list_vehicle = df_distinct.select(df_distinct["CODVEICULO"])
list_vehicle.toPandas().to_csv('../csv-aggiuntivi/doc1-2015100810/list_vehicle.csv', index=False)
list_vehicle.show(5)

+----------+
|CODVEICULO|
+----------+
|     HA241|
|     JC604|
|     EC303|
|     MN404|
|     AB304|
+----------+
only showing top 5 rows

In [7]:
list_vehicle.count()

1422

# Dirt Consistency

In [8]:
import rstr
import numpy as np
from tqdm import tqdm
import random

In [9]:
df_dirt = df_pandas.copy()
df_dirt['NUMEROCARTAO'] = df_dirt['NUMEROCARTAO'].astype(str)

## codlinha dirt: 10%

In [10]:
np.random.choice([True, False], size=1, p=[.1,.9])

array([False])

In [11]:
x = df_dirt['CODLINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=512013, p=[.1,.9]) == True, x)
df_dirt.head(20)

   CODLINHA         NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911      1430250  07/10/15 07:37:02
1       000  N. SRA.DE NAZARÉ      BC911      2470195  07/10/15 07:51:25
2       663  N. SRA.DE NAZARÉ      BC911      3234514  07/10/15 18:49:49
3       280  N. SRA.DE NAZARÉ      BC911      3234514  07/10/15 18:49:51
4       000      OPER S/LINHA      08047       771305  07/10/15 16:47:16
5       000      OPER S/LINHA      08047       856665  07/10/15 16:50:18
6       629    ALTO BOQUEIRÃO      KA603      2115218  07/10/15 13:18:26
7       629    ALTO BOQUEIRÃO      KA603      2178679  07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603       849493  07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603       849493  07/10/15 14:41:05
10      629    ALTO BOQUEIRÃO      KA603      2202962  07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603      1839942  07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404      3527951  07/10/15 17:07:31
13      814         MOSSUNGUÊ      LN404      1188263  07/10/15 17:46:36
14      814         MOSSUNGUÊ      LN404      3260485  07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404      2970828  07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603      3528264  07/10/15 19:25:55
17      629    ALTO BOQUEIRÃO      KA603      3528264  07/10/15 19:25:58
18      653            SABARÁ      HA293      3410298  07/10/15 16:15:46
19      653            SABARÁ      HA293      2471107  07/10/15 18:44:03

## nomelinha dirt:20%

In [12]:
x = df_dirt['NOMELINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["NOMELINHA"] = df_dirt["NOMELINHA"].mask(np.random.choice([True, False], size=512013, p=[.2,.8]) == True, x)
df_dirt.head(20)

   CODLINHA         NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911      1430250  07/10/15 07:37:02
1       000      OPER S/LINHA      BC911      2470195  07/10/15 07:51:25
2       663  N. SRA.DE NAZARÉ      BC911      3234514  07/10/15 18:49:49
3       280  N. SRA.DE NAZARÉ      BC911      3234514  07/10/15 18:49:51
4       000      OPER S/LINHA      08047       771305  07/10/15 16:47:16
5       000      OPER S/LINHA      08047       856665  07/10/15 16:50:18
6       629    ALTO BOQUEIRÃO      KA603      2115218  07/10/15 13:18:26
7       629    ALTO BOQUEIRÃO      KA603      2178679  07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603       849493  07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603       849493  07/10/15 14:41:05
10      629    ALTO BOQUEIRÃO      KA603      2202962  07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603      1839942  07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404      3527951  07/10/15 17:07:31
13      814         MOSSUNGUÊ      LN404      1188263  07/10/15 17:46:36
14      814         MOSSUNGUÊ      LN404      3260485  07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404      2970828  07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603      3528264  07/10/15 19:25:55
17      629            SAVÓIA      KA603      3528264  07/10/15 19:25:58
18      653            SABARÁ      HA293      3410298  07/10/15 16:15:46
19      653            SABARÁ      HA293      2471107  07/10/15 18:44:03

## codveiculo dirt:10%

In [13]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d\d|[A-Z][A-Z])(\d){3}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=512013, p=[.1,.9]) == True, x)
df_dirt.head(20)

100%|██████████| 512013/512013 [00:54<00:00, 9320.76it/s]

   CODLINHA         NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911      1430250  07/10/15 07:37:02
1       000      OPER S/LINHA      BC911      2470195  07/10/15 07:51:25
2       663  N. SRA.DE NAZARÉ      BC911      3234514  07/10/15 18:49:49
3       280  N. SRA.DE NAZARÉ      BC911      3234514  07/10/15 18:49:51
4       000      OPER S/LINHA      08047       771305  07/10/15 16:47:16
5       000      OPER S/LINHA      08047       856665  07/10/15 16:50:18
6       629    ALTO BOQUEIRÃO      KA603      2115218  07/10/15 13:18:26
7       629    ALTO BOQUEIRÃO      KA603      2178679  07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603       849493  07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603       849493  07/10/15 14:41:05
10      629    ALTO BOQUEIRÃO      KA603      2202962  07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603      1839942  07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404      3527951  07/10/15 17:07:31
13      814         MOSSUNGUÊ      60738      1188263  07/10/15 17:46:36
14      814         MOSSUNGUÊ      LN404      3260485  07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404      2970828  07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603      3528264  07/10/15 19:25:55
17      629            SAVÓIA      KA603      3528264  07/10/15 19:25:58
18      653            SABARÁ      HA293      3410298  07/10/15 16:15:46
19      653            SABARÁ      HA293      2471107  07/10/15 18:44:03

## numero cartao dirt: 20% (consistency & conformity)

In [14]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d){1,13}(\w){0,1}')
    x.extend([new])

df_dirt["NUMEROCARTAO"] = df_dirt["NUMEROCARTAO"].mask(np.random.choice([True, False], size=512013, p=[.2,.8]) == True, x)
df_dirt.head(20)

100%|██████████| 512013/512013 [00:55<00:00, 9240.10it/s]

   CODLINHA         NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911       1430250  07/10/15 07:37:02
1       000      OPER S/LINHA      BC911       2470195  07/10/15 07:51:25
2       663  N. SRA.DE NAZARÉ      BC911    855161328H  07/10/15 18:49:49
3       280  N. SRA.DE NAZARÉ      BC911       3234514  07/10/15 18:49:51
4       000      OPER S/LINHA      08047        771305  07/10/15 16:47:16
5       000      OPER S/LINHA      08047  52065310580C  07/10/15 16:50:18
6       629    ALTO BOQUEIRÃO      KA603       2115218  07/10/15 13:18:26
7       629    ALTO BOQUEIRÃO      KA603       2178679  07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603    408250967h  07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603        849493  07/10/15 14:41:05
10      629    ALTO BOQUEIRÃO      KA603       2202962  07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603       1839942  07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404       3527951  07/10/15 17:07:31
13      814         MOSSUNGUÊ      60738       1188263  07/10/15 17:46:36
14      814         MOSSUNGUÊ      LN404       3260485  07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404          172b  07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603       3528264  07/10/15 19:25:55
17      629            SAVÓIA      KA603       3528264  07/10/15 19:25:58
18      653            SABARÁ      HA293       3410298  07/10/15 16:15:46
19      653            SABARÁ      HA293       8709234  07/10/15 18:44:03

## data utilizacao dirt:20%

In [15]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/\d\d (00|0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[0-5][0-9]):(0[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=512013, p=[.2,.8]) == True, x)
df_dirt.head(20)

100%|██████████| 512013/512013 [02:05<00:00, 4093.38it/s]

   CODLINHA         NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911       1430250  05/10/80 02:09:02
1       000      OPER S/LINHA      BC911       2470195  03/11/34 14:00:01
2       663  N. SRA.DE NAZARÉ      BC911    855161328H  30/04/49 21:07:18
3       280  N. SRA.DE NAZARÉ      BC911       3234514  07/10/15 18:49:51
4       000      OPER S/LINHA      08047        771305  07/10/15 16:47:16
5       000      OPER S/LINHA      08047  52065310580C  07/10/15 16:50:18
6       629    ALTO BOQUEIRÃO      KA603       2115218  08/04/08 08:14:02
7       629    ALTO BOQUEIRÃO      KA603       2178679  07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603    408250967h  07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603        849493  07/10/15 14:41:05
10      629    ALTO BOQUEIRÃO      KA603       2202962  07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603       1839942  07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404       3527951  07/10/15 17:07:31
13      814         MOSSUNGUÊ      60738       1188263  07/10/15 17:46:36
14      814         MOSSUNGUÊ      LN404       3260485  07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404          172b  07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603       3528264  07/10/15 19:25:55
17      629            SAVÓIA      KA603       3528264  21/11/69 20:27:09
18      653            SABARÁ      HA293       3410298  07/10/15 16:15:46
19      653            SABARÁ      HA293       8709234  07/10/15 18:44:03

# Conformity

## codlinha dirt: 10%

In [16]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d|[A-Z]){1,5}')
    x.extend([new])

df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=512013, p=[.1,.9]) == True, x)
df_dirt.head(20)

100%|██████████| 512013/512013 [00:40<00:00, 12660.27it/s]

   CODLINHA         NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911       1430250  05/10/80 02:09:02
1       000      OPER S/LINHA      BC911       2470195  03/11/34 14:00:01
2       663  N. SRA.DE NAZARÉ      BC911    855161328H  30/04/49 21:07:18
3       280  N. SRA.DE NAZARÉ      BC911       3234514  07/10/15 18:49:51
4       000      OPER S/LINHA      08047        771305  07/10/15 16:47:16
5       000      OPER S/LINHA      08047  52065310580C  07/10/15 16:50:18
6       629    ALTO BOQUEIRÃO      KA603       2115218  08/04/08 08:14:02
7       629    ALTO BOQUEIRÃO      KA603       2178679  07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603    408250967h  07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603        849493  07/10/15 14:41:05
10      629    ALTO BOQUEIRÃO      KA603       2202962  07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603       1839942  07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404       3527951  07/10/15 17:07:31
13       II         MOSSUNGUÊ      60738       1188263  07/10/15 17:46:36
14     7727         MOSSUNGUÊ      LN404       3260485  07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404          172b  07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603       3528264  07/10/15 19:25:55
17      629            SAVÓIA      KA603       3528264  21/11/69 20:27:09
18      653            SABARÁ      HA293       3410298  07/10/15 16:15:46
19     R145            SABARÁ      HA293       8709234  07/10/15 18:44:03

## codveiculo dirt: 10%

In [17]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d|[A-Z]){0,1}(\d\d|[A-Z][A-Z]|\d[A-Z])(\d){3}(\d|[A-Z]){0,1}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=512013, p=[.1,.9]) == True, x)
df_dirt.head(20)

100%|██████████| 512013/512013 [01:36<00:00, 5278.83it/s]

   CODLINHA         NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911       1430250  05/10/80 02:09:02
1       000      OPER S/LINHA      BC911       2470195  03/11/34 14:00:01
2       663  N. SRA.DE NAZARÉ     W0I304    855161328H  30/04/49 21:07:18
3       280  N. SRA.DE NAZARÉ      BC911       3234514  07/10/15 18:49:51
4       000      OPER S/LINHA      08047        771305  07/10/15 16:47:16
5       000      OPER S/LINHA      08047  52065310580C  07/10/15 16:50:18
6       629    ALTO BOQUEIRÃO      KA603       2115218  08/04/08 08:14:02
7       629    ALTO BOQUEIRÃO      KA603       2178679  07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603    408250967h  07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603        849493  07/10/15 14:41:05
10      629    ALTO BOQUEIRÃO      KA603       2202962  07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603       1839942  07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404       3527951  07/10/15 17:07:31
13       II         MOSSUNGUÊ      60738       1188263  07/10/15 17:46:36
14     7727         MOSSUNGUÊ      LN404       3260485  07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404          172b  07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603       3528264  07/10/15 19:25:55
17      629            SAVÓIA      14939       3528264  21/11/69 20:27:09
18      653            SABARÁ      HA293       3410298  07/10/15 16:15:46
19     R145            SABARÁ      HA293       8709234  07/10/15 18:44:03

## data utilizacao dirt:10%

In [18]:
x=[]
#1981-09-24 19:30:20
for i in tqdm(range(212013)):
    new = rstr.xeger(r'[12][0-9][0-9][0-9]-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#24-09-81 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[0-2])-\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#07-10-15 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'07-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#2015-10-07 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'2015-10-07 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=512013, p=[.1,.9]) == True, x)
df_dirt.head(20)

100%|██████████| 212013/212013 [01:01<00:00, 3456.55it/s]
100%|██████████| 100000/100000 [00:26<00:00, 3721.08it/s]
100%|██████████| 100000/100000 [00:17<00:00, 5672.70it/s]
100%|██████████| 100000/100000 [00:18<00:00, 5503.27it/s]

   CODLINHA         NOMELINHA CODVEICULO  NUMEROCARTAO       DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911       1430250    05/10/80 02:09:02
1       000      OPER S/LINHA      BC911       2470195   1441-1-28 22:53:18
2       663  N. SRA.DE NAZARÉ     W0I304    855161328H    30/04/49 21:07:18
3       280  N. SRA.DE NAZARÉ      BC911       3234514    2064-9-31 14:3:03
4       000      OPER S/LINHA      08047        771305    07/10/15 16:47:16
5       000      OPER S/LINHA      08047  52065310580C    1803-6-23 2:04:06
6       629    ALTO BOQUEIRÃO      KA603       2115218    08/04/08 08:14:02
7       629    ALTO BOQUEIRÃO      KA603       2178679    07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO      KA603    408250967h    07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603        849493  1641-09-30 20:49:29
10      629    ALTO BOQUEIRÃO      KA603       2202962    07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603       1839942    07/10/15 18:13:05
12      814         MOSSUNGUÊ      LN404       3527951    07/10/15 17:07:31
13       II         MOSSUNGUÊ      60738       1188263    07/10/15 17:46:36
14     7727         MOSSUNGUÊ      LN404       3260485    07/10/15 17:53:46
15      814         MOSSUNGUÊ      LN404          172b    07/10/15 21:27:45
16      629    ALTO BOQUEIRÃO      KA603       3528264  1529-10-19 20:09:00
17      629            SAVÓIA      14939       3528264    21/11/69 20:27:09
18      653            SABARÁ      HA293       3410298    07/10/15 16:15:46
19     R145            SABARÁ      HA293       8709234    07/10/15 18:44:03

# Completeness 10%

In [19]:
df_dirt = df_dirt.mask(np.random.choice([True, False], size=df_dirt.shape, p=[.1,.9]))
df_dirt.head(20)

   CODLINHA         NOMELINHA CODVEICULO  NUMEROCARTAO       DATAUTILIZACAO
0       280  N. SRA.DE NAZARÉ      BC911       1430250    05/10/80 02:09:02
1       NaN               NaN      BC911       2470195   1441-1-28 22:53:18
2       NaN  N. SRA.DE NAZARÉ     W0I304    855161328H    30/04/49 21:07:18
3       280  N. SRA.DE NAZARÉ      BC911       3234514    2064-9-31 14:3:03
4       000      OPER S/LINHA      08047        771305    07/10/15 16:47:16
5       000      OPER S/LINHA        NaN  52065310580C    1803-6-23 2:04:06
6       629    ALTO BOQUEIRÃO      KA603       2115218    08/04/08 08:14:02
7       629    ALTO BOQUEIRÃO      KA603           NaN    07/10/15 14:18:59
8       635    ALTO BOQUEIRÃO        NaN           NaN    07/10/15 14:40:56
9       629    ALTO BOQUEIRÃO      KA603        849493  1641-09-30 20:49:29
10      629    ALTO BOQUEIRÃO      KA603       2202962    07/10/15 16:48:12
11      629    ALTO BOQUEIRÃO      KA603       1839942                  NaN
12      NaN         MOSSUNGUÊ      LN404       3527951    07/10/15 17:07:31
13       II         MOSSUNGUÊ      60738       1188263                  NaN
14     7727         MOSSUNGUÊ      LN404       3260485    07/10/15 17:53:46
15      814         MOSSUNGUÊ        NaN          172b    07/10/15 21:27:45
16      NaN    ALTO BOQUEIRÃO      KA603       3528264  1529-10-19 20:09:00
17      629            SAVÓIA      14939       3528264    21/11/69 20:27:09
18      653               NaN      HA293       3410298    07/10/15 16:15:46
19     R145            SABARÁ      HA293           NaN    07/10/15 18:44:03

# Check completeness

In [20]:
df_dirt['null-values'] = df_dirt.isnull().sum(axis=1)
df_dirt.head(20)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,null-values
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,2
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,1
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,1
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,1
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,2
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,0
10,629,ALTO BOQUEIRÃO,KA603,2202962,07/10/15 16:48:12,0
11,629,ALTO BOQUEIRÃO,KA603,1839942,NaN,1
12,NaN,MOSSUNGUÊ,LN404,3527951,07/10/15 17:07:31,1
13,II,MOSSUNGUÊ,60738,1188263,NaN,1
14,7727,MOSSUNGUÊ,LN404,3260485,07/10/15 17:53:46,0
15,814,MOSSUNGUÊ,NaN,172b,07/10/15 21:27:45,1
16,NaN,ALTO BOQUEIRÃO,KA603,3528264,1529-10-19 20:09:00,1
17,629,SAVÓIA,14939,3528264,21/11/69 20:27:09,0
18,653,NaN,HA293,3410298,07/10/15 16:15:46,1
19,R145,SABARÁ,HA293,NaN,07/10/15 18:44:03,1

In [21]:
conditions = [
    df_dirt['null-values'] == 0,
    df_dirt['null-values'] == 1,
    df_dirt['null-values'] == 2,
    df_dirt['null-values'] == 3,
    df_dirt['null-values'] == 4]
choices = [100, 80, 60, 40, 20]
df_dirt['COMPLETENESS'] = np.select(conditions, choices, default=0)

df_dirt.head(20)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,null-values,COMPLETENESS
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,0,100
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,2,60
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,1,80
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,0,100
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,0,100
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,1,80
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,0,100
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,1,80
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,2,60
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,0,100
10,629,ALTO BOQUEIRÃO,KA603,2202962,07/10/15 16:48:12,0,100
11,629,ALTO BOQUEIRÃO,KA603,1839942,NaN,1,80
12,NaN,MOSSUNGUÊ,LN404,3527951,07/10/15 17:07:31,1,80
13,II,MOSSUNGUÊ,60738,1188263,NaN,1,80
14,7727,MOSSUNGUÊ,LN404,3260485,07/10/15 17:53:46,0,100
15,814,MOSSUNGUÊ,NaN,172b,07/10/15 21:27:45,1,80
16,NaN,ALTO BOQUEIRÃO,KA603,3528264,1529-10-19 20:09:00,1,80
17,629,SAVÓIA,14939,3528264,21/11/69 20:27:09,0,100
18,653,NaN,HA293,3410298,07/10/15 16:15:46,1,80
19,R145,SABARÁ,HA293,NaN,07/10/15 18:44:03,1,80

In [22]:
df_dirt = df_dirt.drop(['null-values'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100

# Check consistency

## Lista linea

In [23]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc1-2015100810/list_linha.csv", index_col="CODLINHA")
list_linha.head(5)

                 NOMELINHA
CODLINHA
180       AVERDE/ABRANCHES
271            LARANJEIRAS
673                FORMOSA
331               MERCÚRIO
650       S.RITA/PINHEIRIN

In [24]:
for i,row in tqdm(df_dirt.iterrows()):
    if (pd.isnull(row["CODLINHA"]) or pd.isnull(row["NOMELINHA"])):
        df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            if row_list_linha["NOMELINHA"] == row["NOMELINHA"]:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 1
            else:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        except:
            df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        
df_dirt.head(10)

512013it [01:35, 5335.97it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,0.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,0.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,1.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,1.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,0.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,1.0

## codlinha

In [25]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CHECK-CODLINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            df_dirt.at[i, 'CHECK-CODLINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODLINHA'] = 0
        
df_dirt.head(10)

512013it [01:32, 5529.70it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,1.0,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,0.0,0.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,0.0,0.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,1.0,1.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,1.0,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,1.0,1.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,1.0,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,1.0,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,0.0,1.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,1.0,1.0

## nomelinha

In [26]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc1-2015100810/list_linha.csv", index_col="NOMELINHA")
list_linha.head(5)

                 CODLINHA
NOMELINHA
AVERDE/ABRANCHES      180
LARANJEIRAS           271
FORMOSA               673
MERCÚRIO              331
S.RITA/PINHEIRIN      650

In [27]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NOMELINHA"]):
        df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["NOMELINHA"]]
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
        
df_dirt.head(10)

512013it [01:34, 5392.82it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,1.0,1.0,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,0.0,0.0,0.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,0.0,0.0,1.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,1.0,1.0,1.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,1.0,1.0,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,1.0,1.0,1.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,1.0,1.0,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,1.0,1.0,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,0.0,1.0,1.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,1.0,1.0,1.0

## codveiculo

In [28]:
list_vehicle = pd.read_csv("../csv-aggiuntivi/doc1-2015100810/list_vehicle.csv", index_col="CODVEICULO")
list_vehicle.head(5)

Empty DataFrame
Columns: []
Index: [HA241, JC604, EC303, MN404, AB304]

In [29]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
    else:
        try:
            row_list_vehicle = list_vehicle.loc[row["CODVEICULO"]]
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
        
df_dirt.head(10)

512013it [01:40, 5118.78it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,1.0,1.0,1.0,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,0.0,0.0,0.0,1.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,0.0,0.0,1.0,0.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,1.0,1.0,1.0,1.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,1.0,1.0,1.0,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,1.0,1.0,1.0,0.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,1.0,1.0,1.0,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,1.0,1.0,1.0,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,0.0,1.0,1.0,0.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,1.0,1.0,1.0,1.0

## datautilizacao

In [30]:
import re
def is_sameday(str_datetime): #consistency datetime
    a = re.search("^07/10/15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    b = re.search("^07-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    c = re.search("^2015-10-07 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    return a,b,c

In [31]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CHECK-DATA'] = 0
    else:
        a,b,c = is_sameday(row["DATAUTILIZACAO"])
        if a or b or c:
            df_dirt.at[i, 'CHECK-DATA'] = 1
        else:
            df_dirt.at[i, 'CHECK-DATA'] = 0
        
df_dirt.head(10)

512013it [00:49, 10409.41it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,1.0,1.0,1.0,1.0,0.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,0.0,0.0,0.0,1.0,0.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,0.0,0.0,1.0,0.0,0.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,1.0,1.0,1.0,1.0,0.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,1.0,1.0,1.0,1.0,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,1.0,1.0,1.0,0.0,0.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,1.0,1.0,1.0,1.0,0.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,1.0,1.0,1.0,1.0,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,0.0,1.0,1.0,0.0,1.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,1.0,1.0,1.0,1.0,0.0

## TOT Consistency

In [32]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CHECK-LIST-LINHA"] + row["CHECK-CODLINHA"] + row["CHECK-NOMELINHA"] + row["CHECK-CODVEICULO"] + row["CHECK-DATA"]
    
df_dirt.head(5)

512013it [00:56, 9070.75it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA,TOT
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,1.0,1.0,1.0,1.0,0.0,4.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,0.0,0.0,0.0,1.0,0.0,1.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,0.0,0.0,1.0,0.0,0.0,1.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,1.0,1.0,1.0,1.0,0.0,4.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,1.0,1.0,1.0,1.0,1.0,5.0

In [33]:
conditions = [
    df_dirt['TOT'] == 5.0,
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 80, 60, 40, 20]
df_dirt['CONSISTENCY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA,TOT,CONSISTENCY
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,1.0,1.0,1.0,1.0,0.0,4.0,80
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,0.0,0.0,0.0,1.0,0.0,1.0,20
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,0.0,0.0,1.0,0.0,0.0,1.0,20
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,1.0,1.0,1.0,1.0,0.0,4.0,80
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,1.0,1.0,1.0,1.0,1.0,5.0,100

In [34]:
df_dirt = df_dirt.drop(['CHECK-LIST-LINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-NOMELINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CHECK-DATA'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100

# Conformity

## codlinha

In [35]:
def is_codlinha(str_datetime):
    return re.search("^(\d|[A-Z]){3}$", str_datetime)

In [36]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CONF-CODLINHA'] = 0
    else:
        a = is_codlinha(row["CODLINHA"])
        if a:
            df_dirt.at[i, 'CONF-CODLINHA'] = 1
        else:
            df_dirt.at[i, 'CONF-CODLINHA'] = 0
        
df_dirt.head(10)

512013it [00:48, 10457.13it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,0.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,0.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,1.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,60,1.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,80,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,100,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,60,1.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,80,1.0

## codveiculo

In [37]:
def is_codveiculo(str_datetime):
    return re.search("^(\d\d|[A-Z][A-Z])(\d){3}$", str_datetime)

In [38]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CONF-CODVEICULO'] = 0
    else:
        a = is_codveiculo(row["CODVEICULO"])
        if a:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 1
        else:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 0
        
df_dirt.head(10)

512013it [00:49, 10377.75it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,1.0,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,0.0,1.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,0.0,0.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,1.0,1.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,1.0,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,60,1.0,0.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,80,1.0,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,100,1.0,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,60,1.0,0.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,80,1.0,1.0

## numerocartao

In [39]:
def is_numerocartao(str_datetime):
    return re.search("^(\d){1,10}$", str_datetime)

In [40]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NUMEROCARTAO"]):
        df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
    else:
        a = is_numerocartao(row["NUMEROCARTAO"])
        if a:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 1
        else:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
        
df_dirt.head(10)

512013it [00:49, 10403.44it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,1.0,1.0,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,0.0,1.0,1.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,0.0,0.0,0.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,1.0,1.0,1.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,1.0,1.0,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,60,1.0,0.0,0.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,80,1.0,1.0,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,100,1.0,1.0,0.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,60,1.0,0.0,0.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,80,1.0,1.0,1.0

## data utilizacao

In [41]:
def is_strdate(str_datetime): #conformity datetime
    return re.search("^(0?[1-9]|[12][0-9]|3[01])/(0?[1-9]|1[0-2])/\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)

In [42]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
    else:
        a = is_strdate(row["DATAUTILIZACAO"])
        if a:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 1
        else:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
        
df_dirt.head(10)

512013it [00:49, 10281.54it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,1.0,1.0,1.0,1.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,0.0,1.0,1.0,0.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,0.0,0.0,0.0,1.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,1.0,1.0,1.0,0.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,1.0,1.0,1.0,1.0
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,60,1.0,0.0,0.0,0.0
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,80,1.0,1.0,1.0,1.0
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,100,1.0,1.0,0.0,1.0
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,60,1.0,0.0,0.0,1.0
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,80,1.0,1.0,1.0,0.0

## TOT Conformity

In [43]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CONF-CODLINHA"] + row["CONF-CODVEICULO"] + row["CONF-NUMEROCARTAO"] + row["CONF-DATAUTILIZACAO"]
    
df_dirt.head(5)

512013it [00:53, 9638.19it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO,TOT
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,1.0,1.0,1.0,1.0,4.0
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,0.0,1.0,1.0,0.0,2.0
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,0.0,0.0,0.0,1.0,1.0
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,1.0,1.0,1.0,0.0,3.0
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,1.0,1.0,1.0,1.0,4.0

In [44]:
conditions = [
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 75, 50, 25]
df_dirt['CONFORMITY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO,TOT,CONFORMITY
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,1.0,1.0,1.0,1.0,4.0,100
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,0.0,1.0,1.0,0.0,2.0,50
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,0.0,0.0,0.0,1.0,1.0,25
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,1.0,1.0,1.0,0.0,3.0,75
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,1.0,1.0,1.0,1.0,4.0,100

In [45]:
df_dirt = df_dirt.drop(['CONF-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CONF-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CONF-NUMEROCARTAO'], axis=1)
df_dirt = df_dirt.drop(['CONF-DATAUTILIZACAO'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONFORMITY
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,100
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,50
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,25
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,75
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,100

In [46]:
df_dirt.head(40)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONFORMITY
0,280,N. SRA.DE NAZARÉ,BC911,1430250,05/10/80 02:09:02,100,80,100
1,NaN,NaN,BC911,2470195,1441-1-28 22:53:18,60,20,50
2,NaN,N. SRA.DE NAZARÉ,W0I304,855161328H,30/04/49 21:07:18,80,20,25
3,280,N. SRA.DE NAZARÉ,BC911,3234514,2064-9-31 14:3:03,100,80,75
4,000,OPER S/LINHA,08047,771305,07/10/15 16:47:16,100,100,100
5,000,OPER S/LINHA,NaN,52065310580C,1803-6-23 2:04:06,80,60,25
6,629,ALTO BOQUEIRÃO,KA603,2115218,08/04/08 08:14:02,100,80,100
7,629,ALTO BOQUEIRÃO,KA603,NaN,07/10/15 14:18:59,80,100,75
8,635,ALTO BOQUEIRÃO,NaN,NaN,07/10/15 14:40:56,60,60,50
9,629,ALTO BOQUEIRÃO,KA603,849493,1641-09-30 20:49:29,100,80,75
10,629,ALTO BOQUEIRÃO,KA603,2202962,07/10/15 16:48:12,100,100,100
11,629,ALTO BOQUEIRÃO,KA603,1839942,NaN,80,80,75
12,NaN,MOSSUNGUÊ,LN404,3527951,07/10/15 17:07:31,80,60,75
13,II,MOSSUNGUÊ,60738,1188263,NaN,80,20,50
14,7727,MOSSUNGUÊ,LN404,3260485,07/10/15 17:53:46,100,60,75
15,814,MOSSUNGUÊ,NaN,172b,07/10/15 21:27:45,80,80,50
16,NaN,ALTO BOQUEIRÃO,KA603,3528264,1529-10-19 20:09:00,80,40,50
17,629,SAVÓIA,14939,3528264,21/11/69 20:27:09,100,40,100
18,653,NaN,HA293,3410298,07/10/15 16:15:46,80,60,100
19,R145,SABARÁ,HA293,NaN,07/10/15 18:44:03,80,60,50
20,621,FANNY,EA002,823755,NaN,80,80,75
21,621,FANNY,EA002,2838773,NaN,80,80,75
22,621,FANNY,NaN,8263W,07/10/15 17:49:18,80,80,50
23,811,SATURNO,AA006,3500429,07/10/15 22:12:29,100,100,100
24,811,SATURNO,NaN,NaN,07/10/15 22:47:15,60,80,50
25,020,INTERBAIRR II H,NaN,1579150,07/10/15 22:19:54,80,80,75
26,020,V. IZABEL,NaN,2944918,07/10/15 22:29:16,80,60,75
27,NaN,INTERBAIRROS IV,AB603,3276752,07/10/15 19:02:19,80,60,75
28,778,COTOLENGO,NaN,681,NaN,60,60,50
29,658,C.RASO/CAIUÁ,OL601G,1857038,31/05/40 16:06:50,100,60,75
30,658,C.RASO/CAIUÁ,94359,3543773,07/10/15 07:48:11,100,80,100
31,OPC,OP. CONTIGENCIA,JA006,1256893,NaN,80,80,75
32,NaN,OP. CONTIGENCIA,JA006,3511969,07/10/15 07:30:20,80,60,75
33,ARA,OP. CONTIGENCIA,JA006,3544797,07/10/15 08:11:32,100,80,100
34,NaN,UBERABA,JA006,NaN,NaN,40,40,25
35,545,TRABALHADOR,KA600,2413541,07/10/15 20:51:09,100,100,100
36,13250,TRABALHADOR,NaN,3433907,07/10/15 22:38:06,80,40,50
37,HB0,IGUAPE II,EA195,NaN,07/10/15 18:05:50,80,60,75
38,515,IGUAPE II,EA195,11d,07/10/15 17:36:44,100,100,75
39,UV6J,IGUAPE II,EA195,3140433,07/10/15 16:43:03,100,60,75

In [47]:
df_dirt.to_csv('../Dati-sporchi/doc1-2015100810-Dirt.csv', index=False)

In [54]:
summary_df = df_dirt.describe()
summary_df

        COMPLETENESS    CONSISTENCY     CONFORMITY
count  512013.000000  512013.000000  512013.000000
mean       89.984512      73.779338      81.502325
std        13.441642      22.171126      19.401662
min         0.000000       0.000000       0.000000
25%        80.000000      60.000000      75.000000
50%       100.000000      80.000000      75.000000
75%       100.000000     100.000000     100.000000
max       100.000000     100.000000     100.000000