In [1]:
import pandas as pd

df_pandas = pd.read_csv("doc6-2015102521.csv")
df_pandas.head(5)

  CODLINHA          NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0      ARA  SISTEMA ARAUCARIA      00165       1741274  24/10/15 08:00:39
1      ARA  SISTEMA ARAUCARIA      00165       3453490  24/10/15 07:00:58
2      ARA  SISTEMA ARAUCARIA      00199       3388484  24/10/15 06:48:26
3      ARA  SISTEMA ARAUCARIA      00184       2274020  24/10/15 08:07:26
4      ARA  SISTEMA ARAUCARIA      00234       3152434  24/10/15 09:03:02

## Create List Linha

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df_spark = spark.read.csv("doc6-2015102521.csv", header = True)
df_spark.show(5)

+--------+-----------------+----------+------------+-----------------+
|CODLINHA|        NOMELINHA|CODVEICULO|NUMEROCARTAO|   DATAUTILIZACAO|
+--------+-----------------+----------+------------+-----------------+
|     ARA|SISTEMA ARAUCARIA|     00165|  0001741274|24/10/15 08:00:39|
|     ARA|SISTEMA ARAUCARIA|     00165|  0003453490|24/10/15 07:00:58|
|     ARA|SISTEMA ARAUCARIA|     00199|  0003388484|24/10/15 06:48:26|
|     ARA|SISTEMA ARAUCARIA|     00184|  0002274020|24/10/15 08:07:26|
|     ARA|SISTEMA ARAUCARIA|     00234|  0003152434|24/10/15 09:03:02|
+--------+-----------------+----------+------------+-----------------+
only showing top 5 rows

In [4]:
df_distinct = df_spark.dropDuplicates(['CODLINHA', 'NOMELINHA'])
list_linha = df_distinct.select(df_distinct["CODLINHA"], df_distinct["NOMELINHA"])
list_linha.toPandas().to_csv('../csv-aggiuntivi/doc6-2015102521/list_linha.csv', index=False)
list_linha.show(5)

+--------+----------------+
|CODLINHA|       NOMELINHA|
+--------+----------------+
|     180|AVERDE/ABRANCHES|
|     271|     LARANJEIRAS|
|     164|    RAQUEL PRADO|
|     673|         FORMOSA|
|     674|  N. SRA. DA LUZ|
+--------+----------------+
only showing top 5 rows

In [5]:
list_linha.count()

222

## Create List Vehicle

In [6]:
df_distinct = df_spark.dropDuplicates(["CODVEICULO"])
list_vehicle = df_distinct.select(df_distinct["CODVEICULO"])
list_vehicle.toPandas().to_csv('../csv-aggiuntivi/doc6-2015102521/list_vehicle.csv', index=False)
list_vehicle.show(5)

+----------+
|CODVEICULO|
+----------+
|     JC604|
|     DN608|
|     MN404|
|     06063|
|     HA030|
+----------+
only showing top 5 rows

In [7]:
list_vehicle.count()

989

# Dirt Consistency

In [8]:
import rstr
import numpy as np
from tqdm import tqdm
import random

In [9]:
df_dirt = df_pandas.copy()
df_dirt['NUMEROCARTAO'] = df_dirt['NUMEROCARTAO'].astype(str)
size_df = df_dirt['NOMELINHA'].count()
size_df

221194

In [10]:
cons = [.1,.9]
conf = [.3,.7]
comp = [.4,.6]

## codlinha dirt: 10%

In [11]:
np.random.choice([True, False], size=1, p=[.1,.9])

array([False])

In [12]:
x = df_dirt['CODLINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165      1741274  24/10/15 08:00:39
1       ARA  SISTEMA ARAUCARIA      00165      3453490  24/10/15 07:00:58
2       ARA  SISTEMA ARAUCARIA      00199      3388484  24/10/15 06:48:26
3       ARA  SISTEMA ARAUCARIA      00184      2274020  24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      00234      3152434  24/10/15 09:03:02
5       ARA  SISTEMA ARAUCARIA      00234      3152434  24/10/15 09:02:57
6       ARA  SISTEMA ARAUCARIA      00234      2347921  24/10/15 06:38:38
7       ARA  SISTEMA ARAUCARIA      00194      2645482  24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA      00185      1801642  24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178      1777601  24/10/15 06:16:36
10      ARA  SISTEMA ARAUCARIA      00178      3125050  24/10/15 06:16:31
11      ARA  SISTEMA ARAUCARIA      00178      2978056  24/10/15 05:33:18
12      ARA  SISTEMA ARAUCARIA      00244      1663022  24/10/15 08:35:38
13      ARA  SISTEMA ARAUCARIA      00244      1550494  24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003      2269286  24/10/15 08:27:04
15      ARA  SISTEMA ARAUCARIA      M0003      2241997  24/10/15 06:03:06
16      ARA  SISTEMA ARAUCARIA      00241      2660621  24/10/15 10:59:45
17      ARA  SISTEMA ARAUCARIA      00241      2734208  24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202      1856669  24/10/15 07:52:43
19      ARA  SISTEMA ARAUCARIA      00232      3152434  24/10/15 12:29:34

## nomelinha dirt:20%

In [13]:
x = df_dirt['NOMELINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["NOMELINHA"] = df_dirt["NOMELINHA"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165      1741274  24/10/15 08:00:39
1       ARA  SISTEMA ARAUCARIA      00165      3453490  24/10/15 07:00:58
2       ARA  SISTEMA ARAUCARIA      00199      3388484  24/10/15 06:48:26
3       ARA  SISTEMA ARAUCARIA      00184      2274020  24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      00234      3152434  24/10/15 09:03:02
5       ARA  SISTEMA ARAUCARIA      00234      3152434  24/10/15 09:02:57
6       ARA  SISTEMA ARAUCARIA      00234      2347921  24/10/15 06:38:38
7       ARA  SISTEMA ARAUCARIA      00194      2645482  24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA      00185      1801642  24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178      1777601  24/10/15 06:16:36
10      ARA         UBERLÂNDIA      00178      3125050  24/10/15 06:16:31
11      ARA  SISTEMA ARAUCARIA      00178      2978056  24/10/15 05:33:18
12      ARA  SISTEMA ARAUCARIA      00244      1663022  24/10/15 08:35:38
13      ARA  SISTEMA ARAUCARIA      00244      1550494  24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003      2269286  24/10/15 08:27:04
15      ARA  SISTEMA ARAUCARIA      M0003      2241997  24/10/15 06:03:06
16      ARA  SISTEMA ARAUCARIA      00241      2660621  24/10/15 10:59:45
17      ARA  SISTEMA ARAUCARIA      00241      2734208  24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202      1856669  24/10/15 07:52:43
19      ARA  SISTEMA ARAUCARIA      00232      3152434  24/10/15 12:29:34

## codveiculo dirt:10%

In [14]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d\d|[A-Z][A-Z])(\d){3}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

100%|██████████| 221194/221194 [00:20<00:00, 10614.45it/s]

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165      1741274  24/10/15 08:00:39
1       ARA  SISTEMA ARAUCARIA      FA577      3453490  24/10/15 07:00:58
2       ARA  SISTEMA ARAUCARIA      00199      3388484  24/10/15 06:48:26
3       ARA  SISTEMA ARAUCARIA      00184      2274020  24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      64294      3152434  24/10/15 09:03:02
5       ARA  SISTEMA ARAUCARIA      00234      3152434  24/10/15 09:02:57
6       ARA  SISTEMA ARAUCARIA      00234      2347921  24/10/15 06:38:38
7       ARA  SISTEMA ARAUCARIA      90588      2645482  24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA      00185      1801642  24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178      1777601  24/10/15 06:16:36
10      ARA         UBERLÂNDIA      00178      3125050  24/10/15 06:16:31
11      ARA  SISTEMA ARAUCARIA      00178      2978056  24/10/15 05:33:18
12      ARA  SISTEMA ARAUCARIA      NW399      1663022  24/10/15 08:35:38
13      ARA  SISTEMA ARAUCARIA      00244      1550494  24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003      2269286  24/10/15 08:27:04
15      ARA  SISTEMA ARAUCARIA      M0003      2241997  24/10/15 06:03:06
16      ARA  SISTEMA ARAUCARIA      00241      2660621  24/10/15 10:59:45
17      ARA  SISTEMA ARAUCARIA      00241      2734208  24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202      1856669  24/10/15 07:52:43
19      ARA  SISTEMA ARAUCARIA      00232      3152434  24/10/15 12:29:34

## numero cartao dirt: 20% (consistency & conformity)

In [15]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d){1,13}(\w){0,1}')
    x.extend([new])

df_dirt["NUMEROCARTAO"] = df_dirt["NUMEROCARTAO"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

100%|██████████| 221194/221194 [00:22<00:00, 9673.06it/s]

   CODLINHA          NOMELINHA CODVEICULO    NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165         1741274  24/10/15 08:00:39
1       ARA  SISTEMA ARAUCARIA      FA577         3453490  24/10/15 07:00:58
2       ARA  SISTEMA ARAUCARIA      00199         3388484  24/10/15 06:48:26
3       ARA  SISTEMA ARAUCARIA      00184         2274020  24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      64294         3152434  24/10/15 09:03:02
5       ARA  SISTEMA ARAUCARIA      00234         3152434  24/10/15 09:02:57
6       ARA  SISTEMA ARAUCARIA      00234         2347921  24/10/15 06:38:38
7       ARA  SISTEMA ARAUCARIA      90588         2645482  24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA      00185         1801642  24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178         1777601  24/10/15 06:16:36
10      ARA         UBERLÂNDIA      00178         3125050  24/10/15 06:16:31
11      ARA  SISTEMA ARAUCARIA      00178         2978056  24/10/15 05:33:18
12      ARA  SISTEMA ARAUCARIA      NW399         1663022  24/10/15 08:35:38
13      ARA  SISTEMA ARAUCARIA      00244         1550494  24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003         2269286  24/10/15 08:27:04
15      ARA  SISTEMA ARAUCARIA      M0003         2241997  24/10/15 06:03:06
16      ARA  SISTEMA ARAUCARIA      00241         2660621  24/10/15 10:59:45
17      ARA  SISTEMA ARAUCARIA      00241         2734208  24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202  0146729266272x  24/10/15 07:52:43
19      ARA  SISTEMA ARAUCARIA      00232         3152434  24/10/15 12:29:34

## data utilizacao dirt:20%

In [16]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/\d\d (00|0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[0-5][0-9]):(0[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

100%|██████████| 221194/221194 [00:50<00:00, 4348.70it/s]

   CODLINHA          NOMELINHA CODVEICULO    NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165         1741274  24/10/15 08:00:39
1       ARA  SISTEMA ARAUCARIA      FA577         3453490  24/10/15 07:00:58
2       ARA  SISTEMA ARAUCARIA      00199         3388484  30/12/70 20:02:58
3       ARA  SISTEMA ARAUCARIA      00184         2274020  24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      64294         3152434  15/11/33 00:01:48
5       ARA  SISTEMA ARAUCARIA      00234         3152434  24/10/15 09:02:57
6       ARA  SISTEMA ARAUCARIA      00234         2347921  24/10/15 06:38:38
7       ARA  SISTEMA ARAUCARIA      90588         2645482  24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA      00185         1801642  24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178         1777601  24/10/15 06:16:36
10      ARA         UBERLÂNDIA      00178         3125050  24/10/15 06:16:31
11      ARA  SISTEMA ARAUCARIA      00178         2978056  30/03/94 01:04:06
12      ARA  SISTEMA ARAUCARIA      NW399         1663022  24/10/15 08:35:38
13      ARA  SISTEMA ARAUCARIA      00244         1550494  24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003         2269286  05/10/84 08:47:53
15      ARA  SISTEMA ARAUCARIA      M0003         2241997  24/10/15 06:03:06
16      ARA  SISTEMA ARAUCARIA      00241         2660621  24/10/15 10:59:45
17      ARA  SISTEMA ARAUCARIA      00241         2734208  24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202  0146729266272x  24/10/15 07:52:43
19      ARA  SISTEMA ARAUCARIA      00232         3152434  24/10/15 12:29:34

# Conformity

## codlinha dirt: 10%

In [17]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d|[A-Z]){1,5}')
    x.extend([new])

df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=size_df, p=conf) == True, x)
df_dirt.head(20)

100%|██████████| 221194/221194 [00:17<00:00, 12771.80it/s]

   CODLINHA          NOMELINHA CODVEICULO    NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165         1741274  24/10/15 08:00:39
1       ARA  SISTEMA ARAUCARIA      FA577         3453490  24/10/15 07:00:58
2     22MWU  SISTEMA ARAUCARIA      00199         3388484  30/12/70 20:02:58
3      E619  SISTEMA ARAUCARIA      00184         2274020  24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      64294         3152434  15/11/33 00:01:48
5     H52UE  SISTEMA ARAUCARIA      00234         3152434  24/10/15 09:02:57
6       ARA  SISTEMA ARAUCARIA      00234         2347921  24/10/15 06:38:38
7       ARA  SISTEMA ARAUCARIA      90588         2645482  24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA      00185         1801642  24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178         1777601  24/10/15 06:16:36
10        V         UBERLÂNDIA      00178         3125050  24/10/15 06:16:31
11      ARA  SISTEMA ARAUCARIA      00178         2978056  30/03/94 01:04:06
12      ARA  SISTEMA ARAUCARIA      NW399         1663022  24/10/15 08:35:38
13      ARA  SISTEMA ARAUCARIA      00244         1550494  24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003         2269286  05/10/84 08:47:53
15      ARA  SISTEMA ARAUCARIA      M0003         2241997  24/10/15 06:03:06
16        5  SISTEMA ARAUCARIA      00241         2660621  24/10/15 10:59:45
17      ARA  SISTEMA ARAUCARIA      00241         2734208  24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202  0146729266272x  24/10/15 07:52:43
19      ARA  SISTEMA ARAUCARIA      00232         3152434  24/10/15 12:29:34

## codveiculo dirt: 10%

In [18]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d|[A-Z]){0,1}(\d\d|[A-Z][A-Z]|\d[A-Z])(\d){3}(\d|[A-Z]){0,1}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=size_df, p=conf) == True, x)
df_dirt.head(20)

100%|██████████| 221194/221194 [00:37<00:00, 5832.59it/s]

   CODLINHA          NOMELINHA CODVEICULO    NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165         1741274  24/10/15 08:00:39
1       ARA  SISTEMA ARAUCARIA      FA577         3453490  24/10/15 07:00:58
2     22MWU  SISTEMA ARAUCARIA      00199         3388484  30/12/70 20:02:58
3      E619  SISTEMA ARAUCARIA      30750         2274020  24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      64294         3152434  15/11/33 00:01:48
5     H52UE  SISTEMA ARAUCARIA      00234         3152434  24/10/15 09:02:57
6       ARA  SISTEMA ARAUCARIA      00234         2347921  24/10/15 06:38:38
7       ARA  SISTEMA ARAUCARIA    7QB862F         2645482  24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA     1U207T         1801642  24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178         1777601  24/10/15 06:16:36
10        V         UBERLÂNDIA      00178         3125050  24/10/15 06:16:31
11      ARA  SISTEMA ARAUCARIA      00178         2978056  30/03/94 01:04:06
12      ARA  SISTEMA ARAUCARIA    WBL143V         1663022  24/10/15 08:35:38
13      ARA  SISTEMA ARAUCARIA      00244         1550494  24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003         2269286  05/10/84 08:47:53
15      ARA  SISTEMA ARAUCARIA    7LG895N         2241997  24/10/15 06:03:06
16        5  SISTEMA ARAUCARIA     S17606         2660621  24/10/15 10:59:45
17      ARA  SISTEMA ARAUCARIA     16438R         2734208  24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202  0146729266272x  24/10/15 07:52:43
19      ARA  SISTEMA ARAUCARIA      UA094         3152434  24/10/15 12:29:34

## data utilizacao dirt:10%

In [19]:
x=[]
part = size_df - 200000
#1981-09-24 19:30:20
for i in tqdm(range(part)):
    new = rstr.xeger(r'[12][0-9][0-9][0-9]-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#24-09-81 19:30:20
#for i in tqdm(range(100000)):
#    new = rstr.xeger(r'(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[0-2])-\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
#    x.extend([new])
#07-10-15 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'24-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#2015-10-07 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'2015-10-24 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=size_df, p=conf) == True, x)
df_dirt.head(20)

100%|██████████| 21194/21194 [00:06<00:00, 3467.60it/s]
100%|██████████| 100000/100000 [00:17<00:00, 5712.86it/s]
100%|██████████| 100000/100000 [00:17<00:00, 5597.81it/s]

   CODLINHA          NOMELINHA CODVEICULO    NUMEROCARTAO       DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165         1741274   2225-03-6 00:59:02
1       ARA  SISTEMA ARAUCARIA      FA577         3453490    24/10/15 07:00:58
2     22MWU  SISTEMA ARAUCARIA      00199         3388484  2458-10-20 12:04:06
3      E619  SISTEMA ARAUCARIA      30750         2274020    24/10/15 08:07:26
4       ARA  SISTEMA ARAUCARIA      64294         3152434    2432-04-31 03:4:0
5     H52UE  SISTEMA ARAUCARIA      00234         3152434  1436-12-30 06:39:56
6       ARA  SISTEMA ARAUCARIA      00234         2347921  2342-12-31 23:52:12
7       ARA  SISTEMA ARAUCARIA    7QB862F         2645482    24/10/15 20:56:39
8       ARA  SISTEMA ARAUCARIA     1U207T         1801642    24/10/15 06:06:02
9       ARA  SISTEMA ARAUCARIA      00178         1777601    24/10/15 06:16:36
10        V         UBERLÂNDIA      00178         3125050  1509-07-23 00:07:09
11      ARA  SISTEMA ARAUCARIA      00178         2978056   1202-10-30 22:37:8
12      ARA  SISTEMA ARAUCARIA    WBL143V         1663022  2690-12-30 22:06:16
13      ARA  SISTEMA ARAUCARIA      00244         1550494    24/10/15 07:12:07
14      ARA  SISTEMA ARAUCARIA      M0003         2269286    2404-07-30 2:0:07
15      ARA  SISTEMA ARAUCARIA    7LG895N         2241997    24/10/15 06:03:06
16        5  SISTEMA ARAUCARIA     S17606         2660621   1765-07-28 10:01:0
17      ARA  SISTEMA ARAUCARIA     16438R         2734208    24/10/15 07:23:01
18      ARA  SISTEMA ARAUCARIA      00202  0146729266272x  2811-05-02 00:04:03
19      ARA  SISTEMA ARAUCARIA      UA094         3152434    24/10/15 12:29:34

# Completeness 10%

In [20]:
df_dirt = df_dirt.mask(np.random.choice([True, False], size=df_dirt.shape, p=comp))
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO    NUMEROCARTAO       DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00165             NaN   2225-03-6 00:59:02
1       NaN  SISTEMA ARAUCARIA      FA577         3453490    24/10/15 07:00:58
2     22MWU  SISTEMA ARAUCARIA      00199         3388484                  NaN
3      E619                NaN      30750         2274020                  NaN
4       ARA                NaN      64294         3152434    2432-04-31 03:4:0
5       NaN  SISTEMA ARAUCARIA      00234             NaN                  NaN
6       NaN  SISTEMA ARAUCARIA        NaN             NaN                  NaN
7       ARA  SISTEMA ARAUCARIA    7QB862F         2645482                  NaN
8       ARA  SISTEMA ARAUCARIA        NaN         1801642                  NaN
9       ARA  SISTEMA ARAUCARIA        NaN         1777601                  NaN
10        V         UBERLÂNDIA      00178             NaN                  NaN
11      ARA                NaN      00178         2978056   1202-10-30 22:37:8
12      ARA                NaN    WBL143V             NaN  2690-12-30 22:06:16
13      ARA  SISTEMA ARAUCARIA      00244         1550494                  NaN
14      NaN                NaN        NaN         2269286    2404-07-30 2:0:07
15      ARA                NaN    7LG895N             NaN    24/10/15 06:03:06
16        5  SISTEMA ARAUCARIA        NaN         2660621   1765-07-28 10:01:0
17      NaN  SISTEMA ARAUCARIA     16438R             NaN    24/10/15 07:23:01
18      NaN  SISTEMA ARAUCARIA      00202  0146729266272x                  NaN
19      ARA                NaN      UA094             NaN                  NaN

# Check completeness

In [21]:
df_dirt['null-values'] = df_dirt.isnull().sum(axis=1)
df_dirt.head(20)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,null-values
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,1
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,1
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,1
3,E619,NaN,30750,2274020,NaN,2
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,1
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,3
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,4
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,1
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,2
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,2
10,V,UBERLÂNDIA,00178,NaN,NaN,2
11,ARA,NaN,00178,2978056,1202-10-30 22:37:8,1
12,ARA,NaN,WBL143V,NaN,2690-12-30 22:06:16,2
13,ARA,SISTEMA ARAUCARIA,00244,1550494,NaN,1
14,NaN,NaN,NaN,2269286,2404-07-30 2:0:07,3
15,ARA,NaN,7LG895N,NaN,24/10/15 06:03:06,2
16,5,SISTEMA ARAUCARIA,NaN,2660621,1765-07-28 10:01:0,1
17,NaN,SISTEMA ARAUCARIA,16438R,NaN,24/10/15 07:23:01,2
18,NaN,SISTEMA ARAUCARIA,00202,0146729266272x,NaN,2
19,ARA,NaN,UA094,NaN,NaN,3

In [22]:
conditions = [
    df_dirt['null-values'] == 0,
    df_dirt['null-values'] == 1,
    df_dirt['null-values'] == 2,
    df_dirt['null-values'] == 3,
    df_dirt['null-values'] == 4]
choices = [100, 80, 60, 40, 20]
df_dirt['COMPLETENESS'] = np.select(conditions, choices, default=0)

df_dirt.head(20)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,null-values,COMPLETENESS
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,1,80
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,1,80
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,1,80
3,E619,NaN,30750,2274020,NaN,2,60
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,1,80
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,3,40
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,4,20
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,1,80
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,2,60
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,2,60
10,V,UBERLÂNDIA,00178,NaN,NaN,2,60
11,ARA,NaN,00178,2978056,1202-10-30 22:37:8,1,80
12,ARA,NaN,WBL143V,NaN,2690-12-30 22:06:16,2,60
13,ARA,SISTEMA ARAUCARIA,00244,1550494,NaN,1,80
14,NaN,NaN,NaN,2269286,2404-07-30 2:0:07,3,40
15,ARA,NaN,7LG895N,NaN,24/10/15 06:03:06,2,60
16,5,SISTEMA ARAUCARIA,NaN,2660621,1765-07-28 10:01:0,1,80
17,NaN,SISTEMA ARAUCARIA,16438R,NaN,24/10/15 07:23:01,2,60
18,NaN,SISTEMA ARAUCARIA,00202,0146729266272x,NaN,2,60
19,ARA,NaN,UA094,NaN,NaN,3,40

In [23]:
df_dirt = df_dirt.drop(['null-values'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80
3,E619,NaN,30750,2274020,NaN,60
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80

# Check consistency

## Lista linea

In [24]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc6-2015102521/list_linha.csv", index_col="CODLINHA")
list_linha.head(5)

                 NOMELINHA
CODLINHA
180       AVERDE/ABRANCHES
271            LARANJEIRAS
164           RAQUEL PRADO
673                FORMOSA
674         N. SRA. DA LUZ

In [25]:
for i,row in tqdm(df_dirt.iterrows()):
    if (pd.isnull(row["CODLINHA"]) or pd.isnull(row["NOMELINHA"])):
        df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            if row_list_linha["NOMELINHA"] == row["NOMELINHA"]:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 1
            else:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        except:
            df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        
df_dirt.head(10)

221194it [00:29, 7607.09it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,1.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,0.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,0.0
3,E619,NaN,30750,2274020,NaN,60,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,0.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,0.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,1.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,1.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,1.0

## codlinha

In [26]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CHECK-CODLINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            df_dirt.at[i, 'CHECK-CODLINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODLINHA'] = 0
        
df_dirt.head(10)

221194it [00:31, 6925.83it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,1.0,1.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,0.0,0.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,0.0,0.0
3,E619,NaN,30750,2274020,NaN,60,0.0,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,0.0,1.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,0.0,0.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,0.0,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,1.0,1.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,1.0,1.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,1.0,1.0

## nomelinha

In [27]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc6-2015102521/list_linha.csv", index_col="NOMELINHA")
list_linha.head(5)

                 CODLINHA
NOMELINHA
AVERDE/ABRANCHES      180
LARANJEIRAS           271
RAQUEL PRADO          164
FORMOSA               673
N. SRA. DA LUZ        674

In [28]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NOMELINHA"]):
        df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["NOMELINHA"]]
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
        
df_dirt.head(10)

221194it [00:34, 6385.16it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,1.0,1.0,1.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,0.0,0.0,1.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,0.0,0.0,1.0
3,E619,NaN,30750,2274020,NaN,60,0.0,0.0,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,0.0,1.0,0.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,0.0,0.0,1.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,0.0,0.0,1.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,1.0,1.0,1.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,1.0,1.0,1.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,1.0,1.0,1.0

## codveiculo

In [29]:
list_vehicle = pd.read_csv("../csv-aggiuntivi/doc6-2015102521/list_vehicle.csv", index_col="CODVEICULO")
list_vehicle.head(5)

Empty DataFrame
Columns: []
Index: [JC604, DN608, MN404, 06063, HA030]

In [30]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
    else:
        try:
            row_list_vehicle = list_vehicle.loc[row["CODVEICULO"]]
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
        
df_dirt.head(10)

221194it [00:32, 6789.51it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,1.0,1.0,1.0,1.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,0.0,0.0,1.0,0.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,0.0,0.0,1.0,1.0
3,E619,NaN,30750,2274020,NaN,60,0.0,0.0,0.0,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,0.0,1.0,0.0,0.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,0.0,0.0,1.0,1.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,0.0,0.0,1.0,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,1.0,1.0,1.0,0.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,1.0,1.0,1.0,0.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,1.0,1.0,1.0,0.0

## datautilizacao

In [31]:
import re
def is_sameday(str_datetime): #consistency datetime
    a = re.search("^24/10/15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    b = re.search("^24-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    c = re.search("^2015-10-24 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    return a,b,c

In [32]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CHECK-DATA'] = 0
    else:
        a,b,c = is_sameday(row["DATAUTILIZACAO"])
        if a or b or c:
            df_dirt.at[i, 'CHECK-DATA'] = 1
        else:
            df_dirt.at[i, 'CHECK-DATA'] = 0
        
df_dirt.head(10)

221194it [00:22, 9899.00it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,1.0,1.0,1.0,1.0,0.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,0.0,0.0,1.0,0.0,1.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,0.0,0.0,1.0,1.0,0.0
3,E619,NaN,30750,2274020,NaN,60,0.0,0.0,0.0,0.0,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,0.0,1.0,0.0,0.0,0.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,0.0,0.0,1.0,1.0,0.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,0.0,0.0,1.0,0.0,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,1.0,1.0,1.0,0.0,0.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,1.0,1.0,1.0,0.0,0.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,1.0,1.0,1.0,0.0,0.0

## TOT Consistency

In [33]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CHECK-LIST-LINHA"] + row["CHECK-CODLINHA"] + row["CHECK-NOMELINHA"] + row["CHECK-CODVEICULO"] + row["CHECK-DATA"]
    
df_dirt.head(5)

221194it [00:27, 7963.82it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA,TOT
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,1.0,1.0,1.0,1.0,0.0,4.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,0.0,0.0,1.0,0.0,1.0,2.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,0.0,0.0,1.0,1.0,0.0,2.0
3,E619,NaN,30750,2274020,NaN,60,0.0,0.0,0.0,0.0,0.0,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,0.0,1.0,0.0,0.0,0.0,1.0

In [34]:
conditions = [
    df_dirt['TOT'] == 5.0,
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 80, 60, 40, 20]
df_dirt['CONSISTENCY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA,TOT,CONSISTENCY
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,1.0,1.0,1.0,1.0,0.0,4.0,80
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,0.0,0.0,1.0,0.0,1.0,2.0,40
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,0.0,0.0,1.0,1.0,0.0,2.0,40
3,E619,NaN,30750,2274020,NaN,60,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,0.0,1.0,0.0,0.0,0.0,1.0,20

In [35]:
df_dirt = df_dirt.drop(['CHECK-LIST-LINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-NOMELINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CHECK-DATA'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40
3,E619,NaN,30750,2274020,NaN,60,0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20

# Conformity

## codlinha

In [36]:
def is_codlinha(str_datetime):
    return re.search("^(\d|[A-Z]){3}$", str_datetime)

In [37]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CONF-CODLINHA'] = 0
    else:
        a = is_codlinha(row["CODLINHA"])
        if a:
            df_dirt.at[i, 'CONF-CODLINHA'] = 1
        else:
            df_dirt.at[i, 'CONF-CODLINHA'] = 0
        
df_dirt.head(10)

221194it [00:22, 9960.72it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,1.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,0.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,0.0
3,E619,NaN,30750,2274020,NaN,60,0,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,1.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,40,0.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,20,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,60,1.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,60,1.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,60,1.0

## codveiculo

In [38]:
def is_codveiculo(str_datetime):
    return re.search("^(\d\d|[A-Z][A-Z])(\d){3}$", str_datetime)

In [39]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CONF-CODVEICULO'] = 0
    else:
        a = is_codveiculo(row["CODVEICULO"])
        if a:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 1
        else:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 0
        
df_dirt.head(10)

221194it [00:23, 9521.98it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,1.0,1.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,0.0,1.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,0.0,1.0
3,E619,NaN,30750,2274020,NaN,60,0,0.0,1.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,1.0,1.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,40,0.0,1.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,20,0.0,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,60,1.0,0.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,60,1.0,0.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,60,1.0,0.0

## numerocartao

In [40]:
def is_numerocartao(str_datetime):
    return re.search("^(\d){1,10}$", str_datetime)

In [41]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NUMEROCARTAO"]):
        df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
    else:
        a = is_numerocartao(row["NUMEROCARTAO"])
        if a:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 1
        else:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
        
df_dirt.head(10)

221194it [00:22, 9657.48it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,1.0,1.0,0.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,0.0,1.0,1.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,0.0,1.0,1.0
3,E619,NaN,30750,2274020,NaN,60,0,0.0,1.0,1.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,1.0,1.0,1.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,40,0.0,1.0,0.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,20,0.0,0.0,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,60,1.0,0.0,1.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,60,1.0,0.0,1.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,60,1.0,0.0,1.0

## data utilizacao

In [42]:
def is_strdate(str_datetime): #conformity datetime
    return re.search("^(0?[1-9]|[12][0-9]|3[01])/(0?[1-9]|1[0-2])/\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)

In [43]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
    else:
        a = is_strdate(row["DATAUTILIZACAO"])
        if a:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 1
        else:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
        
df_dirt.head(10)

221194it [00:22, 9700.54it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,1.0,1.0,0.0,0.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,0.0,1.0,1.0,1.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,0.0,1.0,1.0,0.0
3,E619,NaN,30750,2274020,NaN,60,0,0.0,1.0,1.0,0.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,1.0,1.0,1.0,0.0
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,40,0.0,1.0,0.0,0.0
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,20,0.0,0.0,0.0,0.0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,60,1.0,0.0,1.0,0.0
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,60,1.0,0.0,1.0,0.0
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,60,1.0,0.0,1.0,0.0

## TOT Conformity

In [44]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CONF-CODLINHA"] + row["CONF-CODVEICULO"] + row["CONF-NUMEROCARTAO"] + row["CONF-DATAUTILIZACAO"]
    
df_dirt.head(5)

221194it [00:27, 8045.05it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO,TOT
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,1.0,1.0,0.0,0.0,2.0
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,0.0,1.0,1.0,1.0,3.0
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,0.0,1.0,1.0,0.0,2.0
3,E619,NaN,30750,2274020,NaN,60,0,0.0,1.0,1.0,0.0,2.0
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,1.0,1.0,1.0,0.0,3.0

In [45]:
conditions = [
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 75, 50, 25]
df_dirt['CONFORMITY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO,TOT,CONFORMITY
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,1.0,1.0,0.0,0.0,2.0,50
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,0.0,1.0,1.0,1.0,3.0,75
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,0.0,1.0,1.0,0.0,2.0,50
3,E619,NaN,30750,2274020,NaN,60,0,0.0,1.0,1.0,0.0,2.0,50
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,1.0,1.0,1.0,0.0,3.0,75

In [46]:
df_dirt = df_dirt.drop(['CONF-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CONF-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CONF-NUMEROCARTAO'], axis=1)
df_dirt = df_dirt.drop(['CONF-DATAUTILIZACAO'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONFORMITY
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,50
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,75
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,50
3,E619,NaN,30750,2274020,NaN,60,0,50
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,75

In [47]:
df_dirt.head(40)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONFORMITY
0,ARA,SISTEMA ARAUCARIA,00165,NaN,2225-03-6 00:59:02,80,80,50
1,NaN,SISTEMA ARAUCARIA,FA577,3453490,24/10/15 07:00:58,80,40,75
2,22MWU,SISTEMA ARAUCARIA,00199,3388484,NaN,80,40,50
3,E619,NaN,30750,2274020,NaN,60,0,50
4,ARA,NaN,64294,3152434,2432-04-31 03:4:0,80,20,75
5,NaN,SISTEMA ARAUCARIA,00234,NaN,NaN,40,40,25
6,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,20,0
7,ARA,SISTEMA ARAUCARIA,7QB862F,2645482,NaN,80,60,50
8,ARA,SISTEMA ARAUCARIA,NaN,1801642,NaN,60,60,50
9,ARA,SISTEMA ARAUCARIA,NaN,1777601,NaN,60,60,50
10,V,UBERLÂNDIA,00178,NaN,NaN,60,40,25
11,ARA,NaN,00178,2978056,1202-10-30 22:37:8,80,40,75
12,ARA,NaN,WBL143V,NaN,2690-12-30 22:06:16,60,20,25
13,ARA,SISTEMA ARAUCARIA,00244,1550494,NaN,80,80,75
14,NaN,NaN,NaN,2269286,2404-07-30 2:0:07,40,0,25
15,ARA,NaN,7LG895N,NaN,24/10/15 06:03:06,60,40,50
16,5,SISTEMA ARAUCARIA,NaN,2660621,1765-07-28 10:01:0,80,20,25
17,NaN,SISTEMA ARAUCARIA,16438R,NaN,24/10/15 07:23:01,60,40,25
18,NaN,SISTEMA ARAUCARIA,00202,0146729266272x,NaN,60,40,25
19,ARA,NaN,UA094,NaN,NaN,40,20,50
20,000,NaN,NaN,NaN,NaN,20,20,25
21,6VU,SISTEMA ARAUCARIA,00184,3005566,2059-7-16 5:19:58,100,40,75
22,ARA,SISTEMA ARAUCARIA,00242,NaN,1085-12-30 00:03:29,80,80,50
23,ARA,NaN,NaN,2768111,2714-3-31 20:02:30,60,20,50
24,NaN,SISTEMA ARAUCARIA,00989,NaN,24/10/15 07:23:48,60,60,50
25,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,20,0
26,06X,SISTEMA ARAUCARIA,00195,NaN,17/10/00 22:02:01,80,40,75
27,NaN,NaN,NaN,NaN,1210-5-30 21:53:02,20,0,0
28,000,NaN,334879I,3188182,24/10/15 16:32:41,80,40,75
29,NaN,SISTEMA ARAUCARIA,00145,2318499,24/10/15 10:58:48,80,60,75
30,NaN,SISTEMA ARAUCARIA,00175,5233,24/10/15 17:51:42,80,60,75
31,NaN,SISTEMA ARAUCARIA,NaN,NaN,NaN,20,20,0
32,ARA,NaN,NaN,49206867347,NaN,40,20,25
33,D0C,NaN,NaN,NaN,24/10/15 14:32:30,40,20,50
34,NaN,SISTEMA ARAUCARIA,58O883,NaN,2058-12-2 00:8:00,60,20,0
35,000,SISTEMA ARAUCARIA,00181,1834303,2961-10-4 00:45:42,100,60,75
36,ARA,NaN,NaN,NaN,NaN,20,20,25
37,7K9,SISTEMA ARAUCARIA,NaN,NaN,24/10/15 06:35:35,60,40,50
38,NaN,SISTEMA ARAUCARIA,NaN,NaN,1287-2-05 22:02:01,40,20,0
39,ARA,OPER S/LINHA,NaN,3054989,24/10/15 12:23:00,80,60,75

In [48]:
df_dirt.to_csv('../Dati-sporchi/doc6-2015102521-Dirt.csv', index=False)

In [49]:
summary_df = df_dirt.describe()
summary_df

        COMPLETENESS    CONSISTENCY     CONFORMITY
count  221194.000000  221194.000000  221194.000000
mean       59.982459      43.100536      47.334128
std        21.903711      24.930785      24.798732
min         0.000000       0.000000       0.000000
25%        40.000000      20.000000      25.000000
50%        60.000000      40.000000      50.000000
75%        80.000000      60.000000      75.000000
max       100.000000     100.000000     100.000000