In [1]:
import pandas as pd

df_pandas = pd.read_csv("doc2-2015102121.csv")
df_pandas.head(5)

  CODLINHA          NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0      ARA  SISTEMA ARAUCARIA      00181       2624774  20/10/15 17:35:27
1      ARA  SISTEMA ARAUCARIA      00994       2575080  20/10/15 18:25:34
2      ARA  SISTEMA ARAUCARIA      00232       2849283  20/10/15 09:49:50
3      ARA  SISTEMA ARAUCARIA      00232       1502669  20/10/15 13:07:02
4      ARA  SISTEMA ARAUCARIA      00998       3535943  20/10/15 09:55:50

## Create List Linha

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df_spark = spark.read.csv("doc2-2015102121.csv", header = True)
df_spark.show(5)

+--------+-----------------+----------+------------+-----------------+
|CODLINHA|        NOMELINHA|CODVEICULO|NUMEROCARTAO|   DATAUTILIZACAO|
+--------+-----------------+----------+------------+-----------------+
|     ARA|SISTEMA ARAUCARIA|     00181|  0002624774|20/10/15 17:35:27|
|     ARA|SISTEMA ARAUCARIA|     00994|  0002575080|20/10/15 18:25:34|
|     ARA|SISTEMA ARAUCARIA|     00232|  0002849283|20/10/15 09:49:50|
|     ARA|SISTEMA ARAUCARIA|     00232|  0001502669|20/10/15 13:07:02|
|     ARA|SISTEMA ARAUCARIA|     00998|  0003535943|20/10/15 09:55:50|
+--------+-----------------+----------+------------+-----------------+
only showing top 5 rows

In [4]:
df_distinct = df_spark.dropDuplicates(['CODLINHA', 'NOMELINHA'])
list_linha = df_distinct.select(df_distinct["CODLINHA"], df_distinct["NOMELINHA"])
list_linha.toPandas().to_csv('../csv-aggiuntivi/doc2-2015102121/list_linha.csv', index=False)
list_linha.show(5)

+--------+----------------+
|CODLINHA|       NOMELINHA|
+--------+----------------+
|     180|AVERDE/ABRANCHES|
|     271|     LARANJEIRAS|
|     331|        MERCÚRIO|
|     673|         FORMOSA|
|     674|  N. SRA. DA LUZ|
+--------+----------------+
only showing top 5 rows

In [5]:
list_linha.count()

256

## Create List Vehicle

In [6]:
df_distinct = df_spark.dropDuplicates(["CODVEICULO"])
list_vehicle = df_distinct.select(df_distinct["CODVEICULO"])
list_vehicle.toPandas().to_csv('../csv-aggiuntivi/doc2-2015102121/list_vehicle.csv', index=False)
list_vehicle.show(5)

+----------+
|CODVEICULO|
+----------+
|     JC604|
|     HA241|
|     EC303|
|     DA015|
|     HA030|
+----------+
only showing top 5 rows

In [7]:
list_vehicle.count()

1429

# Dirt Consistency

In [8]:
import rstr
import numpy as np
from tqdm import tqdm
import random

In [9]:
df_dirt = df_pandas.copy()
df_dirt['NUMEROCARTAO'] = df_dirt['NUMEROCARTAO'].astype(str)

## codlinha dirt: 10%

In [10]:
np.random.choice([True, False], size=1, p=[.1,.9])

array([False])

In [11]:
x = df_dirt['CODLINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.05,.95]) == True, x)
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00181      2624774  20/10/15 17:35:27
1       ARA  SISTEMA ARAUCARIA      00994      2575080  20/10/15 18:25:34
2       ARA  SISTEMA ARAUCARIA      00232      2849283  20/10/15 09:49:50
3       ARA  SISTEMA ARAUCARIA      00232      1502669  20/10/15 13:07:02
4       000  SISTEMA ARAUCARIA      00998      3535943  20/10/15 09:55:50
5       ARA  SISTEMA ARAUCARIA      00998      3496859  20/10/15 12:37:20
6       ARA  SISTEMA ARAUCARIA      00998      2883869  20/10/15 13:21:18
7       ARA  SISTEMA ARAUCARIA      00998      1484432  20/10/15 14:28:42
8       ARA  SISTEMA ARAUCARIA      00230      2640737  20/10/15 13:32:22
9       ARA  SISTEMA ARAUCARIA      00230      2640737  20/10/15 13:32:27
10      ARA  SISTEMA ARAUCARIA      00999      2490976  20/10/15 12:16:05
11      ARA  SISTEMA ARAUCARIA      00204      3522169  20/10/15 07:15:04
12      ARA  SISTEMA ARAUCARIA      00200      3388484  20/10/15 06:44:02
13      ARA  SISTEMA ARAUCARIA      00234      2761958  20/10/15 05:03:58
14      ARA  SISTEMA ARAUCARIA      00234      2684491  20/10/15 06:27:09
15      ARA  SISTEMA ARAUCARIA      00238      2805444  20/10/15 05:29:17
16      ARA  SISTEMA ARAUCARIA      00238      2729517  20/10/15 06:58:16
17      ARA  SISTEMA ARAUCARIA      00238      3193356  20/10/15 08:27:32
18      ARA  SISTEMA ARAUCARIA      00238      2539145  20/10/15 08:31:11
19      ARA  SISTEMA ARAUCARIA      00238      3164699  20/10/15 06:59:32

## nomelinha dirt:20%

In [12]:
x = df_dirt['NOMELINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["NOMELINHA"] = df_dirt["NOMELINHA"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.1,.9]) == True, x)
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       ARA  SISTEMA ARAUCARIA      00181      2624774  20/10/15 17:35:27
1       ARA  SISTEMA ARAUCARIA      00994      2575080  20/10/15 18:25:34
2       ARA  SISTEMA ARAUCARIA      00232      2849283  20/10/15 09:49:50
3       ARA  SISTEMA ARAUCARIA      00232      1502669  20/10/15 13:07:02
4       000  SISTEMA ARAUCARIA      00998      3535943  20/10/15 09:55:50
5       ARA  SISTEMA ARAUCARIA      00998      3496859  20/10/15 12:37:20
6       ARA  SISTEMA ARAUCARIA      00998      2883869  20/10/15 13:21:18
7       ARA  SISTEMA ARAUCARIA      00998      1484432  20/10/15 14:28:42
8       ARA  SISTEMA ARAUCARIA      00230      2640737  20/10/15 13:32:22
9       ARA  SISTEMA ARAUCARIA      00230      2640737  20/10/15 13:32:27
10      ARA     FAZENDINHA/PUC      00999      2490976  20/10/15 12:16:05
11      ARA  SISTEMA ARAUCARIA      00204      3522169  20/10/15 07:15:04
12      ARA  SISTEMA ARAUCARIA      00200      3388484  20/10/15 06:44:02
13      ARA  SISTEMA ARAUCARIA      00234      2761958  20/10/15 05:03:58
14      ARA       OPER S/LINHA      00234      2684491  20/10/15 06:27:09
15      ARA  SISTEMA ARAUCARIA      00238      2805444  20/10/15 05:29:17
16      ARA  SISTEMA ARAUCARIA      00238      2729517  20/10/15 06:58:16
17      ARA  SISTEMA ARAUCARIA      00238      3193356  20/10/15 08:27:32
18      ARA  SISTEMA ARAUCARIA      00238      2539145  20/10/15 08:31:11
19      ARA  SISTEMA ARAUCARIA      00238      3164699  20/10/15 06:59:32

## codveiculo dirt:10%

In [ ]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d\d|[A-Z][A-Z])(\d){3}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.05,.95]) == True, x)
df_dirt.head(20)

100%|██████████| 512013/512013 [00:48<00:00, 10557.37it/s]

## numero cartao dirt: 20% (consistency & conformity)

In [ ]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d){1,13}(\w){0,1}')
    x.extend([new])

df_dirt["NUMEROCARTAO"] = df_dirt["NUMEROCARTAO"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.1,.9]) == True, x)
df_dirt.head(20)

## data utilizacao dirt:20%

In [ ]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/\d\d (00|0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[0-5][0-9]):(0[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.1,.9]) == True, x)
df_dirt.head(20)

# Conformity

## codlinha dirt: 10%

In [ ]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d|[A-Z]){1,5}')
    x.extend([new])

df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.05,.95]) == True, x)
df_dirt.head(20)

## codveiculo dirt: 10%

In [ ]:
x=[]
for i in tqdm(range(512013)):
    new = rstr.xeger(r'(\d|[A-Z]){0,1}(\d\d|[A-Z][A-Z]|\d[A-Z])(\d){3}(\d|[A-Z]){0,1}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.05,.95]) == True, x)
df_dirt.head(20)

## data utilizacao dirt:10%

In [ ]:
x=[]
#1981-09-24 19:30:20
for i in tqdm(range(212013)):
    new = rstr.xeger(r'[12][0-9][0-9][0-9]-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#24-09-81 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[0-2])-\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#07-10-15 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'20-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#2015-10-07 19:30:20
for i in tqdm(range(100000)):
    new = rstr.xeger(r'2015-10-20 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=df_dirt['NOMELINHA'].count(), p=[.05,.95]) == True, x)
df_dirt.head(20)

# Completeness 10%

In [ ]:
df_dirt = df_dirt.mask(np.random.choice([True, False], size=df_dirt.shape, p=[.05,.95]))
df_dirt.head(20)

# Check completeness

In [ ]:
df_dirt['null-values'] = df_dirt.isnull().sum(axis=1)
df_dirt.head(20)

In [ ]:
conditions = [
    df_dirt['null-values'] == 0,
    df_dirt['null-values'] == 1,
    df_dirt['null-values'] == 2,
    df_dirt['null-values'] == 3,
    df_dirt['null-values'] == 4]
choices = [100, 80, 60, 40, 20]
df_dirt['COMPLETENESS'] = np.select(conditions, choices, default=0)

df_dirt.head(20)

In [ ]:
df_dirt = df_dirt.drop(['null-values'], axis=1)
df_dirt.head(5)

# Check consistency

## Lista linea

In [ ]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc2-2015102121/list_linha.csv", index_col="CODLINHA")
list_linha.head(5)

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if (pd.isnull(row["CODLINHA"]) or pd.isnull(row["NOMELINHA"])):
        df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            if row_list_linha["NOMELINHA"] == row["NOMELINHA"]:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 1
            else:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        except:
            df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        
df_dirt.head(10)

## codlinha

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CHECK-CODLINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            df_dirt.at[i, 'CHECK-CODLINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODLINHA'] = 0
        
df_dirt.head(10)

## nomelinha

In [ ]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc2-2015102121/list_linha.csv", index_col="NOMELINHA")
list_linha.head(5)

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NOMELINHA"]):
        df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["NOMELINHA"]]
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
        
df_dirt.head(10)

## codveiculo

In [ ]:
list_vehicle = pd.read_csv("../csv-aggiuntivi/doc2-2015102121/list_vehicle.csv", index_col="CODVEICULO")
list_vehicle.head(5)

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
    else:
        try:
            row_list_vehicle = list_vehicle.loc[row["CODVEICULO"]]
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
        
df_dirt.head(10)

## datautilizacao

In [ ]:
import re
def is_sameday(str_datetime): #consistency datetime
    a = re.search("^20/10/15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    b = re.search("^20-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    c = re.search("^2015-10-20 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    return a,b,c

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CHECK-DATA'] = 0
    else:
        a,b,c = is_sameday(row["DATAUTILIZACAO"])
        if a or b or c:
            df_dirt.at[i, 'CHECK-DATA'] = 1
        else:
            df_dirt.at[i, 'CHECK-DATA'] = 0
        
df_dirt.head(10)

## TOT Consistency

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CHECK-LIST-LINHA"] + row["CHECK-CODLINHA"] + row["CHECK-NOMELINHA"] + row["CHECK-CODVEICULO"] + row["CHECK-DATA"]
    
df_dirt.head(5)

In [ ]:
conditions = [
    df_dirt['TOT'] == 5.0,
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 80, 60, 40, 20]
df_dirt['CONSISTENCY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

In [ ]:
df_dirt = df_dirt.drop(['CHECK-LIST-LINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-NOMELINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CHECK-DATA'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

# Conformity

## codlinha

In [ ]:
def is_codlinha(str_datetime):
    return re.search("^(\d|[A-Z]){3}$", str_datetime)

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CONF-CODLINHA'] = 0
    else:
        a = is_codlinha(row["CODLINHA"])
        if a:
            df_dirt.at[i, 'CONF-CODLINHA'] = 1
        else:
            df_dirt.at[i, 'CONF-CODLINHA'] = 0
        
df_dirt.head(10)

## codveiculo

In [ ]:
def is_codveiculo(str_datetime):
    return re.search("^(\d\d|[A-Z][A-Z])(\d){3}$", str_datetime)

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CONF-CODVEICULO'] = 0
    else:
        a = is_codveiculo(row["CODVEICULO"])
        if a:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 1
        else:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 0
        
df_dirt.head(10)

## numerocartao

In [ ]:
def is_numerocartao(str_datetime):
    return re.search("^(\d){1,10}$", str_datetime)

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NUMEROCARTAO"]):
        df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
    else:
        a = is_numerocartao(row["NUMEROCARTAO"])
        if a:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 1
        else:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
        
df_dirt.head(10)

## data utilizacao

In [ ]:
def is_strdate(str_datetime): #conformity datetime
    return re.search("^(0?[1-9]|[12][0-9]|3[01])/(0?[1-9]|1[0-2])/\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
    else:
        a = is_strdate(row["DATAUTILIZACAO"])
        if a:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 1
        else:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
        
df_dirt.head(10)

## TOT Conformity

In [ ]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CONF-CODLINHA"] + row["CONF-CODVEICULO"] + row["CONF-NUMEROCARTAO"] + row["CONF-DATAUTILIZACAO"]
    
df_dirt.head(5)

In [ ]:
conditions = [
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 75, 50, 25]
df_dirt['CONFORMITY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

In [ ]:
df_dirt = df_dirt.drop(['CONF-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CONF-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CONF-NUMEROCARTAO'], axis=1)
df_dirt = df_dirt.drop(['CONF-DATAUTILIZACAO'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

In [ ]:
df_dirt.head(40)

In [ ]:
df_dirt.to_csv('../Dati-sporchi/doc2-2015102121-Dirt.csv', index=False)

In [ ]:
summary_df = df_dirt.describe()
summary_df