In [1]:
import pandas as pd

df_pandas = pd.read_csv("doc5-2015102421.csv")
df_pandas.head(5)

  CODLINHA          NOMELINHA CODVEICULO  NUMEROCARTAO     DATAUTILIZACAO
0      ARA  SISTEMA ARAUCARIA      00241       2987017  23/10/15 13:21:23
1      ARA  SISTEMA ARAUCARIA      00241       3356024  23/10/15 12:38:46
2      ARA  SISTEMA ARAUCARIA      00184       2490976  23/10/15 12:47:12
3      ARA  SISTEMA ARAUCARIA      00237       2807859  23/10/15 11:50:23
4      ARA  SISTEMA ARAUCARIA      00206       3356024  23/10/15 08:58:32

## Create List Linha

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df_spark = spark.read.csv("doc5-2015102421.csv", header = True)
df_spark.show(5)

+--------+-----------------+----------+------------+-----------------+
|CODLINHA|        NOMELINHA|CODVEICULO|NUMEROCARTAO|   DATAUTILIZACAO|
+--------+-----------------+----------+------------+-----------------+
|     ARA|SISTEMA ARAUCARIA|     00241|  0002987017|23/10/15 13:21:23|
|     ARA|SISTEMA ARAUCARIA|     00241|  0003356024|23/10/15 12:38:46|
|     ARA|SISTEMA ARAUCARIA|     00184|  0002490976|23/10/15 12:47:12|
|     ARA|SISTEMA ARAUCARIA|     00237|  0002807859|23/10/15 11:50:23|
|     ARA|SISTEMA ARAUCARIA|     00206|  0003356024|23/10/15 08:58:32|
+--------+-----------------+----------+------------+-----------------+
only showing top 5 rows

In [4]:
df_distinct = df_spark.dropDuplicates(['CODLINHA', 'NOMELINHA'])
list_linha = df_distinct.select(df_distinct["CODLINHA"], df_distinct["NOMELINHA"])
list_linha.toPandas().to_csv('../csv-aggiuntivi/doc5-2015102421/list_linha.csv', index=False)
list_linha.show(5)

+--------+----------------+
|CODLINHA|       NOMELINHA|
+--------+----------------+
|     180|AVERDE/ABRANCHES|
|     673|         FORMOSA|
|     331|        MERCÃšRIO|
|     650|S.RITA/PINHEIRIN|
|     674|  N. SRA. DA LUZ|
+--------+----------------+
only showing top 5 rows

In [5]:
list_linha.count()

257

## Create List Vehicle

In [6]:
df_distinct = df_spark.dropDuplicates(["CODVEICULO"])
list_vehicle = df_distinct.select(df_distinct["CODVEICULO"])
list_vehicle.toPandas().to_csv('../csv-aggiuntivi/doc5-2015102421/list_vehicle.csv', index=False)
list_vehicle.show(5)

+----------+
|CODVEICULO|
+----------+
|     EC303|
|     JC604|
|     HA241|
|     HA030|
|     LC303|
+----------+
only showing top 5 rows

In [7]:
list_vehicle.count()

1435

# Dirt Consistency

In [8]:
import rstr
import numpy as np
from tqdm import tqdm
import random

In [9]:
df_dirt = df_pandas.copy()
df_dirt['NUMEROCARTAO'] = df_dirt['NUMEROCARTAO'].astype(str)
size_df = df_dirt['NOMELINHA'].count()
size_df

476288

In [10]:
cons = [.3,.7]
conf = [.05,.95]
comp = [.05,.95]

## codlinha dirt: 10%

In [11]:
np.random.choice([True, False], size=1, p=[.1,.9])

array([False])

In [12]:
x = df_dirt['CODLINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       000  SISTEMA ARAUCARIA      00241      2987017  23/10/15 13:21:23
1       703  SISTEMA ARAUCARIA      00241      3356024  23/10/15 12:38:46
2       225  SISTEMA ARAUCARIA      00184      2490976  23/10/15 12:47:12
3       ARA  SISTEMA ARAUCARIA      00237      2807859  23/10/15 11:50:23
4       OPC  SISTEMA ARAUCARIA      00206      3356024  23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206      3356024  23/10/15 08:58:30
6       ARA  SISTEMA ARAUCARIA      00206      2701772  23/10/15 06:44:28
7       ARA  SISTEMA ARAUCARIA      00206      3555535  23/10/15 06:00:44
8       000  SISTEMA ARAUCARIA      00175      2624774  23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      00200      1741274  23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163      1516486  23/10/15 15:01:36
11      OPC  SISTEMA ARAUCARIA      00163      1516486  23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA      00163      2357325  23/10/15 14:14:51
13      ARA  SISTEMA ARAUCARIA      00146      3546368  23/10/15 11:14:26
14      ARA  SISTEMA ARAUCARIA      00175      2645097  23/10/15 14:21:02
15      ARA  SISTEMA ARAUCARIA      00175      1503675  23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175      1503675  23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175      1503675  23/10/15 13:25:06
18      ARA  SISTEMA ARAUCARIA      00236      1890953  23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989      2339831  23/10/15 15:03:40

## nomelinha dirt:20%

In [13]:
x = df_dirt['NOMELINHA'].to_numpy().copy()
random.shuffle(x)


df_dirt["NOMELINHA"] = df_dirt["NOMELINHA"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       000       OPER S/LINHA      00241      2987017  23/10/15 13:21:23
1       703  SISTEMA ARAUCARIA      00241      3356024  23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184      2490976  23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237      2807859  23/10/15 11:50:23
4       OPC   INTERB II ANTI H      00206      3356024  23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206      3356024  23/10/15 08:58:30
6       ARA  SISTEMA ARAUCARIA      00206      2701772  23/10/15 06:44:28
7       ARA    STA. FELICIDADE      00206      3555535  23/10/15 06:00:44
8       000  SISTEMA ARAUCARIA      00175      2624774  23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      00200      1741274  23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163      1516486  23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163      1516486  23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA      00163      2357325  23/10/15 14:14:51
13      ARA  SISTEMA ARAUCARIA      00146      3546368  23/10/15 11:14:26
14      ARA       OPER S/LINHA      00175      2645097  23/10/15 14:21:02
15      ARA       OPER S/LINHA      00175      1503675  23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175      1503675  23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175      1503675  23/10/15 13:25:06
18      ARA  SISTEMA ARAUCARIA      00236      1890953  23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989      2339831  23/10/15 15:03:40

## codveiculo dirt:10%

In [14]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d\d|[A-Z][A-Z])(\d){3}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 476288/476288 [00:49<00:00, 9671.01it/s]

   CODLINHA          NOMELINHA CODVEICULO NUMEROCARTAO     DATAUTILIZACAO
0       000       OPER S/LINHA      00241      2987017  23/10/15 13:21:23
1       703  SISTEMA ARAUCARIA      00241      3356024  23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184      2490976  23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237      2807859  23/10/15 11:50:23
4       OPC   INTERB II ANTI H      00206      3356024  23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206      3356024  23/10/15 08:58:30
6       ARA  SISTEMA ARAUCARIA      10808      2701772  23/10/15 06:44:28
7       ARA    STA. FELICIDADE      87746      3555535  23/10/15 06:00:44
8       000  SISTEMA ARAUCARIA      00175      2624774  23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      00200      1741274  23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163      1516486  23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163      1516486  23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA      00163      2357325  23/10/15 14:14:51
13      ARA  SISTEMA ARAUCARIA      AB099      3546368  23/10/15 11:14:26
14      ARA       OPER S/LINHA      00175      2645097  23/10/15 14:21:02
15      ARA       OPER S/LINHA      00175      1503675  23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175      1503675  23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175      1503675  23/10/15 13:25:06
18      ARA  SISTEMA ARAUCARIA      16850      1890953  23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989      2339831  23/10/15 15:03:40

## numero cartao dirt: 20% (consistency & conformity)

In [15]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d){1,13}(\w){0,1}')
    x.extend([new])

df_dirt["NUMEROCARTAO"] = df_dirt["NUMEROCARTAO"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 476288/476288 [00:52<00:00, 9080.82it/s]

   CODLINHA          NOMELINHA CODVEICULO   NUMEROCARTAO     DATAUTILIZACAO
0       000       OPER S/LINHA      00241             8q  23/10/15 13:21:23
1       703  SISTEMA ARAUCARIA      00241   498607170069  23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184          1246m  23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237        2807859  23/10/15 11:50:23
4       OPC   INTERB II ANTI H      00206        3356024  23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206        3356024  23/10/15 08:58:30
6       ARA  SISTEMA ARAUCARIA      10808        2701772  23/10/15 06:44:28
7       ARA    STA. FELICIDADE      87746        3555535  23/10/15 06:00:44
8       000  SISTEMA ARAUCARIA      00175        2624774  23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      00200        1741274  23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163        1516486  23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163     417884984n  23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA      00163  820721851687T  23/10/15 14:14:51
13      ARA  SISTEMA ARAUCARIA      AB099    63463888055  23/10/15 11:14:26
14      ARA       OPER S/LINHA      00175         770705  23/10/15 14:21:02
15      ARA       OPER S/LINHA      00175        1503675  23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175            38x  23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175        1503675  23/10/15 13:25:06
18      ARA  SISTEMA ARAUCARIA      16850        1890953  23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989        2339831  23/10/15 15:03:40

## data utilizacao dirt:20%

In [16]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/\d\d (00|0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[0-5][0-9]):(0[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=size_df, p=cons) == True, x)
df_dirt.head(20)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 476288/476288 [02:05<00:00, 3807.67it/s]

   CODLINHA          NOMELINHA CODVEICULO   NUMEROCARTAO     DATAUTILIZACAO
0       000       OPER S/LINHA      00241             8q  31/07/46 21:01:10
1       703  SISTEMA ARAUCARIA      00241   498607170069  23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184          1246m  23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237        2807859  15/06/76 08:03:05
4       OPC   INTERB II ANTI H      00206        3356024  23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206        3356024  11/02/61 06:05:05
6       ARA  SISTEMA ARAUCARIA      10808        2701772  23/10/15 06:44:28
7       ARA    STA. FELICIDADE      87746        3555535  23/10/15 06:00:44
8       000  SISTEMA ARAUCARIA      00175        2624774  23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      00200        1741274  23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163        1516486  23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163     417884984n  23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA      00163  820721851687T  23/10/15 14:14:51
13      ARA  SISTEMA ARAUCARIA      AB099    63463888055  30/12/84 12:56:14
14      ARA       OPER S/LINHA      00175         770705  12/12/00 00:36:02
15      ARA       OPER S/LINHA      00175        1503675  23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175            38x  23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175        1503675  30/12/47 00:07:18
18      ARA  SISTEMA ARAUCARIA      16850        1890953  23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989        2339831  02/10/11 16:39:09

# Conformity

## codlinha dirt: 10%

In [17]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d|[A-Z]){1,5}')
    x.extend([new])

df_dirt["CODLINHA"] = df_dirt["CODLINHA"].mask(np.random.choice([True, False], size=size_df, p=conf) == True, x)
df_dirt.head(20)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 476288/476288 [00:40<00:00, 11827.86it/s]

   CODLINHA          NOMELINHA CODVEICULO   NUMEROCARTAO     DATAUTILIZACAO
0       000       OPER S/LINHA      00241             8q  31/07/46 21:01:10
1       703  SISTEMA ARAUCARIA      00241   498607170069  23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184          1246m  23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237        2807859  15/06/76 08:03:05
4       OPC   INTERB II ANTI H      00206        3356024  23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206        3356024  11/02/61 06:05:05
6       ARA  SISTEMA ARAUCARIA      10808        2701772  23/10/15 06:44:28
7       ARA    STA. FELICIDADE      87746        3555535  23/10/15 06:00:44
8       000  SISTEMA ARAUCARIA      00175        2624774  23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      00200        1741274  23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163        1516486  23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163     417884984n  23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA      00163  820721851687T  23/10/15 14:14:51
13     9S2O  SISTEMA ARAUCARIA      AB099    63463888055  30/12/84 12:56:14
14    29VV6       OPER S/LINHA      00175         770705  12/12/00 00:36:02
15      ARA       OPER S/LINHA      00175        1503675  23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175            38x  23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175        1503675  30/12/47 00:07:18
18      ARA  SISTEMA ARAUCARIA      16850        1890953  23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989        2339831  02/10/11 16:39:09

## codveiculo dirt: 10%

In [18]:
x=[]
for i in tqdm(range(size_df)):
    new = rstr.xeger(r'(\d|[A-Z]){0,1}(\d\d|[A-Z][A-Z]|\d[A-Z])(\d){3}(\d|[A-Z]){0,1}')
    x.extend([new])

df_dirt["CODVEICULO"] = df_dirt["CODVEICULO"].mask(np.random.choice([True, False], size=size_df, p=conf) == True, x)
df_dirt.head(20)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 476288/476288 [01:25<00:00, 5545.82it/s]

   CODLINHA          NOMELINHA CODVEICULO   NUMEROCARTAO     DATAUTILIZACAO
0       000       OPER S/LINHA      00241             8q  31/07/46 21:01:10
1       703  SISTEMA ARAUCARIA      00241   498607170069  23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184          1246m  23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237        2807859  15/06/76 08:03:05
4       OPC   INTERB II ANTI H      00206        3356024  23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206        3356024  11/02/61 06:05:05
6       ARA  SISTEMA ARAUCARIA      10808        2701772  23/10/15 06:44:28
7       ARA    STA. FELICIDADE      87746        3555535  23/10/15 06:00:44
8       000  SISTEMA ARAUCARIA      00175        2624774  23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      3Z760        1741274  23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163        1516486  23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163     417884984n  23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA     ID163E  820721851687T  23/10/15 14:14:51
13     9S2O  SISTEMA ARAUCARIA      AB099    63463888055  30/12/84 12:56:14
14    29VV6       OPER S/LINHA      00175         770705  12/12/00 00:36:02
15      ARA       OPER S/LINHA      00175        1503675  23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175            38x  23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175        1503675  30/12/47 00:07:18
18      ARA  SISTEMA ARAUCARIA      16850        1890953  23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989        2339831  02/10/11 16:39:09

## data utilizacao dirt:10%

In [19]:
x=[]
part = size_df - 300000
#1981-09-24 19:30:20
for i in tqdm(range(part)):
    new = rstr.xeger(r'[12][0-9][0-9][0-9]-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#24-09-81 19:30:20
#for i in tqdm(range(100000)):
#    new = rstr.xeger(r'(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[0-2])-\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
#    x.extend([new])
#07-10-15 19:30:20
for i in tqdm(range(150000)):
    new = rstr.xeger(r'23-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])
#2015-10-07 19:30:20
for i in tqdm(range(150000)):
    new = rstr.xeger(r'2015-10-23 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])')
    x.extend([new])

df_dirt["DATAUTILIZACAO"] = df_dirt["DATAUTILIZACAO"].mask(np.random.choice([True, False], size=size_df, p=conf) == True, x)
df_dirt.head(20)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 176288/176288 [00:52<00:00, 3354.09it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 150000/150000 [00:28<00:00, 5344.71it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 150000/150000 [00:28<00:00, 5199.25it/s]

   CODLINHA          NOMELINHA CODVEICULO   NUMEROCARTAO      DATAUTILIZACAO
0       000       OPER S/LINHA      00241             8q   31/07/46 21:01:10
1       703  SISTEMA ARAUCARIA      00241   498607170069   23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184          1246m   23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237        2807859   15/06/76 08:03:05
4       OPC   INTERB II ANTI H      00206        3356024   23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206        3356024   11/02/61 06:05:05
6       ARA  SISTEMA ARAUCARIA      10808        2701772   23/10/15 06:44:28
7       ARA    STA. FELICIDADE      87746        3555535  2529-12-30 00:04:4
8       000  SISTEMA ARAUCARIA      00175        2624774   23/10/15 17:36:03
9       ARA  SISTEMA ARAUCARIA      3Z760        1741274   23/10/15 14:45:23
10      ARA  SISTEMA ARAUCARIA      00163        1516486   23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163     417884984n   23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA     ID163E  820721851687T   23/10/15 14:14:51
13     9S2O  SISTEMA ARAUCARIA      AB099    63463888055   30/12/84 12:56:14
14    29VV6       OPER S/LINHA      00175         770705   12/12/00 00:36:02
15      ARA       OPER S/LINHA      00175        1503675   23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175            38x   23/10/15 13:25:10
17      665  SISTEMA ARAUCARIA      00175        1503675   30/12/47 00:07:18
18      ARA  SISTEMA ARAUCARIA      16850        1890953   23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989        2339831   02/10/11 16:39:09

# Completeness 10%

In [20]:
df_dirt = df_dirt.mask(np.random.choice([True, False], size=df_dirt.shape, p=comp))
df_dirt.head(20)

   CODLINHA          NOMELINHA CODVEICULO   NUMEROCARTAO      DATAUTILIZACAO
0       000       OPER S/LINHA      00241             8q   31/07/46 21:01:10
1       703  SISTEMA ARAUCARIA      00241   498607170069   23/10/15 12:38:46
2       225   ITUPAV/H.MILITAR      00184          1246m   23/10/15 12:47:12
3       ARA    STA. FELICIDADE      00237        2807859   15/06/76 08:03:05
4       OPC   INTERB II ANTI H      00206        3356024   23/10/15 08:58:32
5       000  SISTEMA ARAUCARIA      00206        3356024   11/02/61 06:05:05
6       ARA  SISTEMA ARAUCARIA      10808        2701772   23/10/15 06:44:28
7       ARA    STA. FELICIDADE      87746        3555535  2529-12-30 00:04:4
8       000  SISTEMA ARAUCARIA      00175        2624774   23/10/15 17:36:03
9       ARA                NaN      3Z760        1741274   23/10/15 14:45:23
10      NaN  SISTEMA ARAUCARIA      00163        1516486   23/10/15 15:01:36
11      OPC         JD. KOSMOS      00163     417884984n   23/10/15 15:01:34
12      ARA  SISTEMA ARAUCARIA     ID163E  820721851687T   23/10/15 14:14:51
13     9S2O  SISTEMA ARAUCARIA      AB099    63463888055   30/12/84 12:56:14
14    29VV6       OPER S/LINHA      00175         770705   12/12/00 00:36:02
15      ARA       OPER S/LINHA      00175        1503675   23/10/15 13:25:16
16      ARA  SISTEMA ARAUCARIA      00175            38x   23/10/15 13:25:10
17      NaN  SISTEMA ARAUCARIA      00175            NaN   30/12/47 00:07:18
18      ARA  SISTEMA ARAUCARIA      16850        1890953   23/10/15 14:03:41
19      ARA  SISTEMA ARAUCARIA      00989        2339831   02/10/11 16:39:09

# Check completeness

In [21]:
df_dirt['null-values'] = df_dirt.isnull().sum(axis=1)
df_dirt.head(20)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,null-values
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,1
10,NaN,SISTEMA ARAUCARIA,00163,1516486,23/10/15 15:01:36,1
11,OPC,JD. KOSMOS,00163,417884984n,23/10/15 15:01:34,0
12,ARA,SISTEMA ARAUCARIA,ID163E,820721851687T,23/10/15 14:14:51,0
13,9S2O,SISTEMA ARAUCARIA,AB099,63463888055,30/12/84 12:56:14,0
14,29VV6,OPER S/LINHA,00175,770705,12/12/00 00:36:02,0
15,ARA,OPER S/LINHA,00175,1503675,23/10/15 13:25:16,0
16,ARA,SISTEMA ARAUCARIA,00175,38x,23/10/15 13:25:10,0
17,NaN,SISTEMA ARAUCARIA,00175,NaN,30/12/47 00:07:18,2
18,ARA,SISTEMA ARAUCARIA,16850,1890953,23/10/15 14:03:41,0
19,ARA,SISTEMA ARAUCARIA,00989,2339831,02/10/11 16:39:09,0

In [22]:
conditions = [
    df_dirt['null-values'] == 0,
    df_dirt['null-values'] == 1,
    df_dirt['null-values'] == 2,
    df_dirt['null-values'] == 3,
    df_dirt['null-values'] == 4]
choices = [100, 80, 60, 40, 20]
df_dirt['COMPLETENESS'] = np.select(conditions, choices, default=0)

df_dirt.head(20)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,null-values,COMPLETENESS
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,0,100
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,0,100
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,0,100
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,0,100
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,0,100
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,0,100
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,0,100
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,0,100
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,0,100
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,1,80
10,NaN,SISTEMA ARAUCARIA,00163,1516486,23/10/15 15:01:36,1,80
11,OPC,JD. KOSMOS,00163,417884984n,23/10/15 15:01:34,0,100
12,ARA,SISTEMA ARAUCARIA,ID163E,820721851687T,23/10/15 14:14:51,0,100
13,9S2O,SISTEMA ARAUCARIA,AB099,63463888055,30/12/84 12:56:14,0,100
14,29VV6,OPER S/LINHA,00175,770705,12/12/00 00:36:02,0,100
15,ARA,OPER S/LINHA,00175,1503675,23/10/15 13:25:16,0,100
16,ARA,SISTEMA ARAUCARIA,00175,38x,23/10/15 13:25:10,0,100
17,NaN,SISTEMA ARAUCARIA,00175,NaN,30/12/47 00:07:18,2,60
18,ARA,SISTEMA ARAUCARIA,16850,1890953,23/10/15 14:03:41,0,100
19,ARA,SISTEMA ARAUCARIA,00989,2339831,02/10/11 16:39:09,0,100

In [23]:
df_dirt = df_dirt.drop(['null-values'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100

# Check consistency

## Lista linea

In [24]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc5-2015102421/list_linha.csv", index_col="CODLINHA")
list_linha.head(5)

                 NOMELINHA
CODLINHA
180       AVERDE/ABRANCHES
673                FORMOSA
331               MERCÃšRIO
650       S.RITA/PINHEIRIN
674         N. SRA. DA LUZ

In [25]:
for i,row in tqdm(df_dirt.iterrows()):
    if (pd.isnull(row["CODLINHA"]) or pd.isnull(row["NOMELINHA"])):
        df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            if row_list_linha["NOMELINHA"] == row["NOMELINHA"]:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 1
            else:
                df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        except:
            df_dirt.at[i, 'CHECK-LIST-LINHA'] = 0
        
df_dirt.head(10)

476288it [01:43, 4581.77it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,1.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,0.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,0.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,0.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,0.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,0.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,0.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,0.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,0.0

## codlinha

In [26]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CHECK-CODLINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["CODLINHA"]]
            df_dirt.at[i, 'CHECK-CODLINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODLINHA'] = 0
        
df_dirt.head(10)

476288it [01:34, 5062.16it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,1.0,1.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,0.0,1.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,0.0,1.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,0.0,1.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,0.0,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,0.0,1.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,1.0,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,0.0,1.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,0.0,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,0.0,1.0

## nomelinha

In [27]:
list_linha = pd.read_csv("../csv-aggiuntivi/doc5-2015102421/list_linha.csv", index_col="NOMELINHA")
list_linha.head(5)

                 CODLINHA
NOMELINHA
AVERDE/ABRANCHES      180
FORMOSA               673
MERCÃšRIO              331
S.RITA/PINHEIRIN      650
N. SRA. DA LUZ        674

In [28]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NOMELINHA"]):
        df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
    else:
        try:
            row_list_linha = list_linha.loc[row["NOMELINHA"]]
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 1
        except:
            df_dirt.at[i, 'CHECK-NOMELINHA'] = 0
        
df_dirt.head(10)

476288it [01:35, 4972.04it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,1.0,1.0,1.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,0.0,1.0,1.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,0.0,1.0,1.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,0.0,1.0,1.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,0.0,1.0,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,0.0,1.0,1.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,1.0,1.0,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,0.0,1.0,1.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,0.0,1.0,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,0.0,1.0,0.0

## codveiculo

In [29]:
list_vehicle = pd.read_csv("../csv-aggiuntivi/doc5-2015102421/list_vehicle.csv", index_col="CODVEICULO")
list_vehicle.head(5)

Empty DataFrame
Columns: []
Index: [EC303, JC604, HA241, HA030, LC303]

In [30]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
    else:
        try:
            row_list_vehicle = list_vehicle.loc[row["CODVEICULO"]]
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 1
        except:
            df_dirt.at[i, 'CHECK-CODVEICULO'] = 0
        
df_dirt.head(10)

476288it [01:31, 5197.44it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,1.0,1.0,1.0,1.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,0.0,1.0,1.0,1.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,0.0,1.0,1.0,1.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,0.0,1.0,1.0,1.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,0.0,1.0,1.0,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,0.0,1.0,1.0,1.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,1.0,1.0,1.0,0.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,0.0,1.0,1.0,0.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,0.0,1.0,1.0,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,0.0,1.0,0.0,0.0

## datautilizacao

In [31]:
import re
def is_sameday(str_datetime): #consistency datetime
    a = re.search("^23/10/15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    b = re.search("^23-10-15 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    c = re.search("^2015-10-23 (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)
    return a,b,c

In [32]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CHECK-DATA'] = 0
    else:
        a,b,c = is_sameday(row["DATAUTILIZACAO"])
        if a or b or c:
            df_dirt.at[i, 'CHECK-DATA'] = 1
        else:
            df_dirt.at[i, 'CHECK-DATA'] = 0
        
df_dirt.head(10)

476288it [00:48, 9752.38it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,1.0,1.0,1.0,1.0,0.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,0.0,1.0,1.0,1.0,1.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,0.0,1.0,1.0,1.0,1.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,0.0,1.0,1.0,1.0,0.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,0.0,1.0,1.0,1.0,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,0.0,1.0,1.0,1.0,0.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,1.0,1.0,1.0,0.0,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,0.0,1.0,1.0,0.0,0.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,0.0,1.0,1.0,1.0,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,0.0,1.0,0.0,0.0,1.0

## TOT Consistency

In [33]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CHECK-LIST-LINHA"] + row["CHECK-CODLINHA"] + row["CHECK-NOMELINHA"] + row["CHECK-CODVEICULO"] + row["CHECK-DATA"]
    
df_dirt.head(5)

476288it [00:55, 8529.78it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA,TOT
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,1.0,1.0,1.0,1.0,0.0,4.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,0.0,1.0,1.0,1.0,1.0,4.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,0.0,1.0,1.0,1.0,1.0,4.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,0.0,1.0,1.0,1.0,0.0,3.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,0.0,1.0,1.0,1.0,1.0,4.0

In [34]:
conditions = [
    df_dirt['TOT'] == 5.0,
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 80, 60, 40, 20]
df_dirt['CONSISTENCY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CHECK-LIST-LINHA,CHECK-CODLINHA,CHECK-NOMELINHA,CHECK-CODVEICULO,CHECK-DATA,TOT,CONSISTENCY
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,1.0,1.0,1.0,1.0,0.0,4.0,80
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,0.0,1.0,1.0,1.0,1.0,4.0,80
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,0.0,1.0,1.0,1.0,1.0,4.0,80
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,0.0,1.0,1.0,1.0,0.0,3.0,60
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,0.0,1.0,1.0,1.0,1.0,4.0,80

In [35]:
df_dirt = df_dirt.drop(['CHECK-LIST-LINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-NOMELINHA'], axis=1)
df_dirt = df_dirt.drop(['CHECK-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CHECK-DATA'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80

# Conformity

## codlinha

In [36]:
def is_codlinha(str_datetime):
    return re.search("^(\d|[A-Z]){3}$", str_datetime)

In [37]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODLINHA"]):
        df_dirt.at[i, 'CONF-CODLINHA'] = 0
    else:
        a = is_codlinha(row["CODLINHA"])
        if a:
            df_dirt.at[i, 'CONF-CODLINHA'] = 1
        else:
            df_dirt.at[i, 'CONF-CODLINHA'] = 0
        
df_dirt.head(10)

476288it [00:48, 9810.91it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,1.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,1.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,1.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,1.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,60,1.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,80,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,40,1.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,80,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,40,1.0

## codveiculo

In [38]:
def is_codveiculo(str_datetime):
    return re.search("^(\d\d|[A-Z][A-Z])(\d){3}$", str_datetime)

In [39]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["CODVEICULO"]):
        df_dirt.at[i, 'CONF-CODVEICULO'] = 0
    else:
        a = is_codveiculo(row["CODVEICULO"])
        if a:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 1
        else:
            df_dirt.at[i, 'CONF-CODVEICULO'] = 0
        
df_dirt.head(10)

476288it [00:47, 10040.87it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,1.0,1.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,1.0,1.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,1.0,1.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,1.0,1.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,1.0,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,60,1.0,1.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,80,1.0,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,40,1.0,1.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,80,1.0,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,40,1.0,0.0

## numerocartao

In [40]:
def is_numerocartao(str_datetime):
    return re.search("^(\d){1,10}$", str_datetime)

In [41]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["NUMEROCARTAO"]):
        df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
    else:
        a = is_numerocartao(row["NUMEROCARTAO"])
        if a:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 1
        else:
            df_dirt.at[i, 'CONF-NUMEROCARTAO'] = 0
        
df_dirt.head(10)

476288it [00:49, 9716.28it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,1.0,1.0,0.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,1.0,1.0,0.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,1.0,1.0,0.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,1.0,1.0,1.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,1.0,1.0,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,60,1.0,1.0,1.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,80,1.0,1.0,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,40,1.0,1.0,1.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,80,1.0,1.0,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,40,1.0,0.0,1.0

## data utilizacao

In [42]:
def is_strdate(str_datetime): #conformity datetime
    return re.search("^(0?[1-9]|[12][0-9]|3[01])/(0?[1-9]|1[0-2])/\d\d (00|0?[0-9]|1[0-9]|2[0-3]):(0?[0-9]|[0-5][0-9]):(0?[0-9]|[0-5][0-9])$", str_datetime)

In [43]:
for i,row in tqdm(df_dirt.iterrows()):
    if pd.isnull(row["DATAUTILIZACAO"]):
        df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
    else:
        a = is_strdate(row["DATAUTILIZACAO"])
        if a:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 1
        else:
            df_dirt.at[i, 'CONF-DATAUTILIZACAO'] = 0
        
df_dirt.head(10)

476288it [00:49, 9597.49it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,1.0,1.0,0.0,1.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,1.0,1.0,0.0,1.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,1.0,1.0,0.0,1.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,1.0,1.0,1.0,1.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,1.0,1.0,1.0,1.0
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,60,1.0,1.0,1.0,1.0
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,80,1.0,1.0,1.0,1.0
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,40,1.0,1.0,1.0,0.0
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,80,1.0,1.0,1.0,1.0
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,40,1.0,0.0,1.0,1.0

## TOT Conformity

In [44]:
for i,row in tqdm(df_dirt.iterrows()):
    df_dirt.at[i, 'TOT'] = row["CONF-CODLINHA"] + row["CONF-CODVEICULO"] + row["CONF-NUMEROCARTAO"] + row["CONF-DATAUTILIZACAO"]
    
df_dirt.head(5)

476288it [00:52, 9026.12it/s]

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO,TOT
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,1.0,1.0,0.0,1.0,3.0
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,1.0,1.0,0.0,1.0,3.0
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,1.0,1.0,0.0,1.0,3.0
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,1.0,1.0,1.0,1.0,4.0
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,1.0,1.0,1.0,1.0,4.0

In [45]:
conditions = [
    df_dirt['TOT'] == 4.0,
    df_dirt['TOT'] == 3.0,
    df_dirt['TOT'] == 2.0,
    df_dirt['TOT'] == 1.0]
choices = [100, 75, 50, 25]
df_dirt['CONFORMITY'] = np.select(conditions, choices, default=0)

df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONF-CODLINHA,CONF-CODVEICULO,CONF-NUMEROCARTAO,CONF-DATAUTILIZACAO,TOT,CONFORMITY
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,1.0,1.0,0.0,1.0,3.0,75
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,1.0,1.0,0.0,1.0,3.0,75
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,1.0,1.0,0.0,1.0,3.0,75
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,1.0,1.0,1.0,1.0,4.0,100
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,1.0,1.0,1.0,1.0,4.0,100

In [46]:
df_dirt = df_dirt.drop(['CONF-CODLINHA'], axis=1)
df_dirt = df_dirt.drop(['CONF-CODVEICULO'], axis=1)
df_dirt = df_dirt.drop(['CONF-NUMEROCARTAO'], axis=1)
df_dirt = df_dirt.drop(['CONF-DATAUTILIZACAO'], axis=1)
df_dirt = df_dirt.drop(['TOT'], axis=1)
df_dirt.head(5)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONFORMITY
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,75
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,75
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,75
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,100
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,100

In [47]:
df_dirt.head(40)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,DATAUTILIZACAO,COMPLETENESS,CONSISTENCY,CONFORMITY
0,000,OPER S/LINHA,00241,8q,31/07/46 21:01:10,100,80,75
1,703,SISTEMA ARAUCARIA,00241,498607170069,23/10/15 12:38:46,100,80,75
2,225,ITUPAV/H.MILITAR,00184,1246m,23/10/15 12:47:12,100,80,75
3,ARA,STA. FELICIDADE,00237,2807859,15/06/76 08:03:05,100,60,100
4,OPC,INTERB II ANTI H,00206,3356024,23/10/15 08:58:32,100,80,100
5,000,SISTEMA ARAUCARIA,00206,3356024,11/02/61 06:05:05,100,60,100
6,ARA,SISTEMA ARAUCARIA,10808,2701772,23/10/15 06:44:28,100,80,100
7,ARA,STA. FELICIDADE,87746,3555535,2529-12-30 00:04:4,100,40,75
8,000,SISTEMA ARAUCARIA,00175,2624774,23/10/15 17:36:03,100,80,100
9,ARA,NaN,3Z760,1741274,23/10/15 14:45:23,80,40,75
10,NaN,SISTEMA ARAUCARIA,00163,1516486,23/10/15 15:01:36,80,60,75
11,OPC,JD. KOSMOS,00163,417884984n,23/10/15 15:01:34,100,80,75
12,ARA,SISTEMA ARAUCARIA,ID163E,820721851687T,23/10/15 14:14:51,100,80,50
13,9S2O,SISTEMA ARAUCARIA,AB099,63463888055,30/12/84 12:56:14,100,20,50
14,29VV6,OPER S/LINHA,00175,770705,12/12/00 00:36:02,100,40,75
15,ARA,OPER S/LINHA,00175,1503675,23/10/15 13:25:16,100,80,100
16,ARA,SISTEMA ARAUCARIA,00175,38x,23/10/15 13:25:10,100,100,75
17,NaN,SISTEMA ARAUCARIA,00175,NaN,30/12/47 00:07:18,60,40,50
18,ARA,SISTEMA ARAUCARIA,16850,1890953,23/10/15 14:03:41,100,80,100
19,ARA,SISTEMA ARAUCARIA,00989,2339831,02/10/11 16:39:09,100,80,100
20,ARA,MOSSUNGUÃŠ,DL757,2339831,23/10/15 15:03:35,100,60,100
21,ARA,SISTEMA ARAUCARIA,VG560,1502669,23/10/15 14:24:24,100,80,100
22,ARA,NaN,00996,43128870700,23/10/15 12:25:22,80,60,75
23,ARA,BAIRRO NOVO A,19604,3509347,23/10/15 15:21:22,100,60,100
24,ARA,SISTEMA ARAUCARIA,ZF249,2683308,23/10/15 05:35:43,100,80,100
25,ARA,SISTEMA ARAUCARIA,TN349B,2635268,23/10/15 07:05:32,100,80,75
26,021,SISTEMA ARAUCARIA,00245,1550494,23/10/15 06:23:23,100,80,100
27,876,NaN,00169,3045373,31/10/28 22:31:19,80,40,100
28,OPC,OP. CONTIGENCIA,00237,2058041,23/10/15 06:09:19,100,100,100
29,ARA,SISTEMA ARAUCARIA,00237,3398146,23/10/15 05:59:03,100,100,100
30,H,OPER S/LINHA,00147,3526968,23/10/15 14:16:34,100,60,75
31,ARA,SISTEMA ARAUCARIA,GN656,2318499,NaN,80,60,75
32,ARA,SISTEMA ARAUCARIA,66337,2318499,30/11/85 23:59:00,100,60,100
33,ARA,SISTEMA ARAUCARIA,67053,0,23/10/15 19:30:49,100,80,100
34,ARA,OPER S/LINHA,00997,3046,31/11/85 01:06:02,100,60,100
35,ARA,ALIANÃ‡A,00997,2339831,23/10/15 19:05:58,100,80,100
36,ARA,OPER S/LINHA,00997,837369766,23/10/15 17:01:47,100,80,100
37,ARA,OPER S/LINHA,00182,NaN,23/10/15 15:31:24,80,80,75
38,ARA,SISTEMA ARAUCARIA,00236,3474050,23/10/15 19:11:22,100,100,100
39,8O9,OPER S/LINHA,00149,NaN,23/10/15 16:10:57,80,60,75

In [48]:
df_dirt.to_csv('../Dati-sporchi/doc5-2015102421-Dirt.csv', index=False)

In [49]:
summary_df = df_dirt.describe()
summary_df

        COMPLETENESS    CONSISTENCY     CONFORMITY
count  476288.000000  476288.000000  476288.000000
mean       95.014445      73.169679      87.872254
std         9.736690      19.930846      16.127730
min        20.000000       0.000000       0.000000
25%       100.000000      60.000000      75.000000
50%       100.000000      80.000000     100.000000
75%       100.000000      80.000000     100.000000
max       100.000000     100.000000     100.000000